ul.user-nav-dd li {
	float: left;
}
ul.global-nav-dd li {
	float: left;
}
ul.user-nav-dd li.hover {
	position: relative;
}
ul.global-nav-dd li.hover {
	position: relative;
}
ul.user-nav-dd ul {
	left: 0px; top: 100%; width: 232px; visibility: hidden; position: absolute;
}
ul.global-nav-dd ul {
	left: 0px; top: 100%; width: 232px; visibility: hidden; position: absolute;
}
ul.user-nav-dd ul li a {
	margin: 1px 13px; border-right-color: currentColor; border-right-width: medium; border-right-style: none; display: inline-block;
}
ul.global-nav-dd ul li a {
	margin: 1px 13px; border-right-color: currentColor; border-right-width: medium; border-right-style: none; display: inline-block;
}
ul.user-nav-dd li a {
	font-size: 11px; font-weight: normal; text-decoration: none; display: block;
}
ul.user-nav-dd ul {
	background: url("//www.state.gov/images/2013/bkg-global-nav-sub.png") repeat-x 0px 0px rgb(222, 222, 222); border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(102, 102, 102) rgb(102, 102, 102); padding: 28px 0px; border-image: none;
}
ul.user-nav-dd ul li {
	border-bottom-color: rgb(216, 217, 218); border-bottom-width: 1px; border-bottom-style: solid; float: none;
}
ul.user-nav-dd ul li a {
	color: rgb(0, 0, 0);
}
ul.user-nav-dd ul li.last {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
ul.user-nav-dd ul li.hover {
	background: rgb(204, 204, 204); color: rgb(0, 0, 0); cursor: pointer;
}
ul.user-nav-dd ul li.hover a {
	background: rgb(204, 204, 204); color: rgb(0, 0, 0); cursor: pointer;
}
ul.user-nav-dd ul li:hover {
	background: rgb(204, 204, 204); color: rgb(0, 0, 0); cursor: pointer;
}
ul.user-nav-dd ul li a:hover {
	background: rgb(204, 204, 204); color: rgb(0, 0, 0); cursor: pointer;
}
ul.global-nav-dd li a {
	font-size: 11px; font-weight: normal; text-decoration: none; display: block;
}
ul.global-nav-dd ul {
	background: url("//www.state.gov/images/2013/bkg-global-nav-sub.png") repeat-x 0px 0px rgb(222, 222, 222); border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(102, 102, 102) rgb(102, 102, 102); padding: 28px 0px; border-image: none;
}
ul.global-nav-dd ul li {
	border-bottom-color: rgb(216, 217, 218); border-bottom-width: 1px; border-bottom-style: solid; float: none;
}
ul.global-nav-dd ul li a {
	color: rgb(24, 90, 156);
}
ul.global-nav-dd ul li.last {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
ul.global-nav-dd ul li.hover {
	background: rgb(96, 155, 200); color: rgb(255, 255, 255); cursor: pointer;
}
ul.global-nav-dd ul li.hover a {
	background: rgb(96, 155, 200); color: rgb(255, 255, 255); cursor: pointer;
}
ul.global-nav-dd ul li:hover {
	background: rgb(96, 155, 200); color: rgb(255, 255, 255); cursor: pointer;
}
ul.global-nav-dd ul li a:hover {
	background: rgb(96, 155, 200); color: rgb(255, 255, 255); cursor: pointer;
}
