span.document_type {
	color: rgb(119, 119, 119); line-height: 14px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
span.document_type_-_speaker_writer {
	color: rgb(119, 119, 119); line-height: 14px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
span.document_type_-_secretary_s_remarks {
	color: rgb(119, 119, 119); line-height: 14px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
span.document_type_-_press_releases {
	color: rgb(119, 119, 119); line-height: 14px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
div#doctitle {
	width: 100%; color: rgb(0, 51, 102); line-height: 22px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold;
}
span.doctitle {
	color: rgb(0, 51, 102); line-height: 18px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold;
}
span.location {
	color: rgb(0, 0, 0); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
span.location- {
	color: rgb(0, 0, 0); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
span.daily_press_briefing {
	color: rgb(51, 51, 51); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
span.document_type_-_briefings {
	color: rgb(51, 51, 51); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
span.document_type_-_remarks {
	color: rgb(51, 51, 51); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
span.document_type_-_fact_sheet {
	color: rgb(51, 51, 51); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
span.report_title {
	color: rgb(51, 51, 51); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
span.report_name {
	color: rgb(51, 51, 51); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
span.report_name_-_other {
	color: rgb(51, 51, 51); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
span.audience {
	color: rgb(0, 0, 0); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
span.audience_-_remarks {
	color: rgb(0, 0, 0); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
span.bureau {
	color: rgb(0, 0, 0); text-transform: uppercase; line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal;
}
span.releasing_organization {
	color: rgb(0, 0, 0); text-transform: uppercase; line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal;
}
span.releasing_bureau {
	color: rgb(0, 0, 0); text-transform: uppercase; line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal;
}
span.country_name_or_organization {
	color: rgb(0, 0, 0); text-transform: uppercase; line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal;
}
span.releasing_office_-_other {
	color: rgb(0, 0, 0); text-transform: uppercase; line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal;
}
span.office {
	color: rgb(0, 0, 0); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal;
}
span.official_s_name {
	color: rgb(0, 0, 0); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
span.speaker {
	color: rgb(0, 0, 0); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
span.speaker_-_briefings {
	color: rgb(0, 0, 0); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
span.staff_member_name {
	color: rgb(0, 0, 0); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
span.speaker_-_press_releases {
	color: rgb(0, 0, 0); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
span.speaker_-_secretary {
	color: rgb(0, 0, 0); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
span.official_s_title- {
	color: rgb(0, 0, 0); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
span.official_s_title-prefix {
	color: rgb(0, 0, 0); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
span.official_s_title-title {
	color: rgb(0, 0, 0); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
span.official_s_title-area_of_responsibility {
	color: rgb(0, 0, 0); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
span.official_s_title-country {
	color: rgb(0, 0, 0); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
span.speaker_title {
	color: rgb(0, 0, 0); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
span.other_speakers_and_titles {
	color: rgb(0, 0, 0); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
span.speaker_title_-_briefings {
	color: rgb(0, 0, 0); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
span.staff_member_title {
	color: rgb(0, 0, 0); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
span.speaker_title_-_press_releases {
	color: rgb(0, 0, 0); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
span.official_s_bureau {
	color: rgb(0, 0, 0); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
span.official_s_office {
	color: rgb(0, 0, 0); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal;
}
span.press_release_number {
	color: rgb(102, 102, 102); line-height: 14px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal;
}
span.travel_date_from {
	color: rgb(0, 0, 0); line-height: 14px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold;
}
span.date_of_release {
	color: rgb(0, 0, 0); line-height: 14px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold;
}
div#date_long {
	font-family: Verdana; font-size: 11px; font-weight: bold; float: left;
}
#viewvideo {
	background: url("/images/2009/btn-view-video.gif") no-repeat 0px 100%; margin: 0px 2px 0px 0px; width: 93px; height: 33px; display: block;
}
#viewpdf {
	background: url("/images/2009/btn-view-pdf.gif") no-repeat 0px 100%; margin: 10px 2px 0px 0px; width: 93px; height: 33px; display: block;
}
#pdfversion {
	background: url("/images/2009/btn-view-pdf.gif") no-repeat 0px 100%; margin: 10px 2px 0px 0px; width: 93px; height: 33px; display: block;
}
#backtotop {
	background: url("/images/2009/btn-back-to-top.gif") no-repeat 0px 100%; margin: 0px 2px 0px 0px; width: 93px; height: 33px; float: left; display: block;
}
div#bgnotes_index {
	width: 135px; margin-right: 10px; float: left;
}
div#body-row02-col01andcol02andcol03 {
	width: 930px; margin-right: 0px;
}
div#country_photo {
	margin-bottom: 10px; float: right;
}
div#map {
	clear: both; margin-bottom: 10px; float: right;
}
div#media {
	margin-bottom: 10px; float: right;
}
div#centerblock {
	display: inline;
}
div#bio_photo {
	margin-right: 10px; float: left;
}
span.transcript {
	color: rgb(0, 0, 0); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold;
}
#travelpage {
	padding: 7px; width: 150px; margin-right: 10px; float: left; background-color: rgb(46, 65, 148);
}
#travelpage a {
	color: rgb(255, 255, 255);
}
hr#separator {
	color: rgb(51, 51, 51);
}
