#body-row01 {
	margin: 10px 0px 0px 10px; padding: 10px 0px; width: 930px; height: auto; background-color: rgb(255, 255, 255);
}
#body-row01 h3 {
	margin: 0px 0px 0px 10px; color: rgb(51, 51, 51); display: inline;
}
#body-row01 {
	text-align: left; color: rgb(0, 0, 0); line-height: 18px; font-family: verdana, arial, sans-serif; font-size: 11px;
}
#body-row02-col01 {
	text-align: left; color: rgb(0, 0, 0); line-height: 18px; font-family: verdana, arial, sans-serif; font-size: 11px;
}
#body-row02-col02 {
	text-align: left; color: rgb(0, 0, 0); line-height: 18px; font-family: verdana, arial, sans-serif; font-size: 11px;
}
#body-row02-col03 {
	text-align: left; color: rgb(0, 0, 0); line-height: 18px; font-family: verdana, arial, sans-serif; font-size: 11px;
}
#body-row02-col02andcol03 {
	text-align: left; color: rgb(0, 0, 0); line-height: 18px; font-family: verdana, arial, sans-serif; font-size: 11px;
}
#body-row02-col01andcol02andcol03 {
	text-align: left; color: rgb(0, 0, 0); line-height: 18px; font-family: verdana, arial, sans-serif; font-size: 11px;
}
#body-row02-col01andcol02 {
	text-align: left; color: rgb(0, 0, 0); line-height: 18px; font-family: verdana, arial, sans-serif; font-size: 11px;
}
.breadcrumbs a {
	color: rgb(102, 102, 102);
}
.underline-11-black {
	color: rgb(0, 0, 0); font-family: verdana, arial, sans-serif; font-size: 11px; font-weight: normal; text-decoration: underline;
}
.underline-11-drkgray {
	color: rgb(51, 51, 51); font-family: verdana, arial, sans-serif; font-size: 11px; font-weight: normal; text-decoration: underline;
}
#breadcrumbs li:first-child::before {
	content: "";
}
* html #breadcrumbs {
	height: 1%;
}
* html #breadcrumbs li {
	float: left; display: block;
}
* html #breadcrumbs li:first-child {
	background-image: none;
}
#body-row02 {
	background: url("/images/2009/bkg-tier3.gif") repeat-y; margin: 10px 10px 0px; padding: 0px; width: 930px; height: auto;
}
#body-row02-col01 {
	margin: 0px 10px 0px 0px; padding: 0px; width: 140px; float: left;
}
div#tier03-left-nav ul {
	margin: 0px; padding: 0px; line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold;
}
div#tier03-left-nav li {
	margin: 0px; width: 140px; text-align: left; list-style-type: none;
}
div#tier03-left-nav li a {
	padding: 3px 8px; color: rgb(0, 0, 0); text-decoration: none; display: block; background-color: rgb(204, 204, 204);
}
div#tier03-left-nav li a:link {
	color: rgb(0, 0, 0); background-color: rgb(204, 204, 204);
}
div#tier03-left-nav li a:visited {
	background-color: rgb(204, 204, 204);
}
div#tier03-left-nav li a:hover {
	color: rgb(255, 255, 255); text-decoration: underline; background-color: rgb(119, 119, 119);
}
div#tier03-left-nav li a:active {
	color: rgb(255, 255, 255); text-decoration: underline; background-color: rgb(102, 102, 102);
}
div#tier03-left-nav ul li {
	border-width: 1px; border-style: outset; border-color: rgb(187, 187, 187) rgb(85, 85, 85) rgb(51, 51, 51) rgb(221, 221, 221); border-image: none;
}
#body-row02-col02 {
	margin: 0px 10px 0px 0px; padding: 0px; width: 530px; color: rgb(0, 0, 0); float: left;
}
#body-row02-col02andcol03 {
	margin: 0px 10px 0px 0px; padding: 0px; width: 770px; color: rgb(0, 0, 0); float: left;
}
#body-row02-col01andcol02andcol03 {
	margin: 0px 10px 0px 0px; padding: 0px; width: 910px; color: rgb(0, 0, 0); float: left;
}
#body-row02-col01andcol02 {
	margin: 0px 10px 0px 0px; padding: 0px; width: 670px; color: rgb(0, 0, 0); float: left;
}
#body-col02-row01 {
	margin: 10px 10px 0px 0px; position: relative;
}
#body-col02-row01 h3 {
	line-height: 18px; float: left;
}
span.bold-11-black {
	color: rgb(0, 0, 0); font-family: verdana, arial, sans-serif; font-size: 11px; font-weight: bold;
}
span#tier03-date {
	float: right;
}
#body-col02-row02 {
	margin: -10px 10px 0px; padding: 0px;
}
#body-row02-col03 {
	margin: 0px; padding: 0px; width: 240px; float: left;
}
.clearfix::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.body::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.container::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.accordian {
	width: 240px;
}
.accordian div {
	width: 240px;
}
.accordian li {
	width: 240px;
}
.accordian div.head {
	height: 34px; margin-bottom: 1px;
}
.accordian div.body {
	background: url("/images/2009/bkg-highlights-tile.gif") repeat-x rgb(255, 255, 255); border: 1px solid rgb(219, 234, 248); border-image: none; margin-top: -1px;
}
.accordian .head a {
	margin: 8px 0px 0px 10px; color: white; font-size: 11px; font-weight: bold; text-decoration: none;
}
#just-released {
	border-width: 1px; border-style: solid; border-color: rgb(95, 136, 200) rgb(22, 45, 126) rgb(22, 45, 126) rgb(95, 136, 200); background-color: rgb(75, 107, 179);
}
#highlights {
	border-width: 1px; border-style: solid; border-color: rgb(95, 136, 200) rgb(22, 45, 126) rgb(22, 45, 126) rgb(95, 136, 200); background-color: rgb(75, 107, 179);
}
#upcoming-events {
	border-width: 1px; border-style: solid; border-color: rgb(183, 0, 0) rgb(46, 0, 0) rgb(46, 0, 0) rgb(183, 0, 0); background-color: rgb(156, 0, 0);
}
#learn-more {
	border-width: 1px; border-style: solid; border-color: rgb(0, 0, 126) rgb(0, 0, 69) rgb(0, 0, 69) rgb(0, 0, 126); background-color: rgb(0, 0, 99);
}
#page-container {
	background-color: rgb(255, 255, 255);
}
#just-released .plus-minus-btn {
	background-image: url("/images/2009/4b6bb3-plus-minus.gif");
}
#highlights .plus-minus-btn {
	background-image: url("/images/2009/4b6bb3-plus-minus.gif");
}
#upcoming-events .plus-minus-btn {
	background-image: url("/images/2009/9c0000-plus-minus.gif");
}
#learn-more .plus-minus-btn {
	background-image: url("/images/2009/000063-plus-minus.gif");
}
.accordian .head .plus-minus-btn {
	margin: 8px 6px 0px 0px; width: 22px; height: 22px; float: right;
}
.accordian .open a.plus-minus-btn {
	background-position: 0px 0px;
}
.accordian .open a.plus-minus-btn:hover {
	background-position: 0px 0px;
}
.accordian .closed a.plus-minus-btn {
	background-position: 0px -22px;
}
.accordian .closed a.plus-minus-btn:hover {
	background-position: 0px -22px;
}
.accordian .body .container {
	margin: 10px; width: 220px; font-size: 9px;
}
.accordian .body .left {
	float: left;
}
.accordian .body .header {
	color: rgb(0, 51, 102); font-size: 11px; font-weight: bold; text-decoration: none; float: none;
}
.accordian .body .video-text {
	width: 125px; margin-top: 10px; margin-left: 10px;
}
.accordian .body .video-text span {
	line-height: 14px; font-size: 9px; margin-top: 5px; float: left; display: block;
}
.accordian div a {
	color: rgb(67, 105, 141); font-weight: bold; margin-right: 3px;
}
.accordian .body .row2 {
	margin-top: 20px;
}
.accordian .body .container-navigation a {
	float: none;
}
#usa-gov-logo {
	background: url("/images/2009/usa-gov02.gif") no-repeat 0px 0px;
}
#page-foot {
	border-top-color: rgb(200, 200, 200); border-top-width: 1px; border-top-style: solid;
}
#page-foot ul li a {
	font-weight: normal;
}
span.doctitle {
	color: rgb(0, 51, 102); line-height: 18px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold;
}
td.calendar_blue {
	background-color: rgb(201, 200, 227);
}
table.calendar_blue {
	background-color: rgb(201, 200, 227);
}
td.calendar_video {
	background-color: rgb(156, 0, 0);
}
td.calendar_transcript {
	background-color: rgb(24, 94, 162);
}
a {
	color: rgb(24, 90, 156); line-height: 18px; font-size: 12px; font-weight: bold; text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
