@import url( reset.css );
#dos-banner::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
#content-well::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
#popup-content01::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
#popup-content02::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
html {
	width: 100%;
}
body {
	width: 100%; font-family: "Lucida Grande", Arial, Verdana, sans-serif;
}
.skip-link {
	left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden; position: absolute;
}
#dos-wrapper {
	background: url("/images/2013/bkg-gradient-tile02.jpg") repeat-x 0px 0px; width: 100%; min-width: 960px;
}
#dos-wrap {
	min-height: 115px;
}
#dos-header {
	background: url("/images/2013/dos-flag-no-white03.jpg") no-repeat top;
}
.left#dos-header {
	background: url("/images/2013/dos-flag-no-white03.jpg") no-repeat right top;
}
.no-bg-img#dos-header {
	background: none;
}
#dos-banner {
	margin: 0px auto; width: 960px;
}
.left#dos-header #dos-banner {
	margin: 0px;
}
#dos-logo-assets {
	margin: 16px 0px 13px; padding: 0px; width: 592px; height: 86px; float: left;
}
.left#dos-header #dos-banner #dos-logo-assets {
	margin-left: 15px;
}
#dos-logo-assets p {
	margin: 0px; padding: 0px;
}
#usdos-logo-seal {
	margin: 0px 16px 0px 0px; padding: 0px; width: 86px; height: 86px; float: left;
}
#dos-logo-text {
	width: 489px; height: 86px; float: left;
}
.no-tagline#dos-logo-text h1#usdos-logo-text {
	background-position: 0px 50%; margin: 0px; height: 86px;
}
#usdos-logo-text {
	background: url("/images/usdos-logo-text-no-tagline.png") no-repeat 0px 0px; margin: 16px 0px 0px; padding: 0px; height: 38px;
}
#usdos-logo-text a span {
	display: none;
}
#tagline {
	margin: 5px 0px 0px 5px; color: rgb(179, 207, 235); text-transform: uppercase; letter-spacing: 3px; padding-top: 0px; font-family: "Lucida Grande", Arial, Verdana, sans-serif; font-size: 14px; border-bottom-color: currentColor !important; border-bottom-width: medium !important; border-bottom-style: none !important; float: left;
}
#sidebar-top-moved {
	margin: 0px; padding: 0px; clear: right; float: right;
}
#nav-container {
	width: 960px;
}
#user-nav {
	background: url("/images/2013/user-nav.png") no-repeat 0px 0px; height: 35px; float: right; position: relative; z-index: 20;
}
.no-blog#user-nav {
	background: url("/images/2013/user-nav-no-blog.png") no-repeat 0px 0px; float: right;
}
ul#user-nav li.level01 {
	padding: 0px; margin-right: 9px; float: left;
}
ul#user-nav li.last.level01 {
	margin-right: 5px;
}
ul#user-nav li a span {
	display: none;
}
ul li a#un-link01 {
	height: 35px; display: block;
}
ul li a#un-link02 {
	height: 35px; display: block;
}
ul li a#un-link03 {
	height: 35px; display: block;
}
ul li a#un-link04 {
	height: 35px; display: block;
}
ul li a#un-link05 {
	height: 35px; display: block;
}
ul li a#un-link06 {
	height: 35px; display: block;
}
ul li a#un-link07 {
	height: 35px; display: block;
}
ul li a#un-link08 {
	height: 35px; display: block;
}
ul li#un-corner {
	width: 19px; height: 35px;
}
ul li a#un-link01 {
	width: 108px;
}
ul li a#un-link02 {
	width: 89px;
}
ul li a#un-link03 {
	width: 39px;
}
ul li a#un-link04 {
	width: 52px;
}
ul li a#un-link05 {
	width: 60px;
}
ul li a#un-link06 {
	width: 64px;
}
ul li a#un-link07 {
	width: 119px;
}
ul li.level01#msd-container {
	margin: 0px; width: 194px;
}
ul li a#un-link01:hover {
	background: url("/images/2013/user-nav.png") no-repeat 0px 0px;
}
ul li a.selected#un-link01 {
	background: url("/images/2013/user-nav.png") no-repeat 0px 0px;
}
ul li a#un-link02:hover {
	background: url("/images/2013/user-nav.png") no-repeat 0px 0px;
}
ul li a.selected#un-link02 {
	background: url("/images/2013/user-nav.png") no-repeat 0px 0px;
}
ul li a#un-link03:hover {
	background: url("/images/2013/user-nav.png") no-repeat 0px 0px;
}
ul li a.selected#un-link03 {
	background: url("/images/2013/user-nav.png") no-repeat 0px 0px;
}
ul li a#un-link04:hover {
	background: url("/images/2013/user-nav.png") no-repeat 0px 0px;
}
ul li a.selected#un-link04 {
	background: url("/images/2013/user-nav.png") no-repeat 0px 0px;
}
ul li a#un-link05:hover {
	background: url("/images/2013/user-nav.png") no-repeat 0px 0px;
}
ul li a.selected#un-link05 {
	background: url("/images/2013/user-nav.png") no-repeat 0px 0px;
}
ul li a#un-link06:hover {
	background: url("/images/2013/user-nav.png") no-repeat 0px 0px;
}
ul li a.selected#un-link06 {
	background: url("/images/2013/user-nav.png") no-repeat 0px 0px;
}
ul li a#un-link07:hover {
	background: url("/images/2013/user-nav.png") no-repeat 0px 0px;
}
ul li a.selected#un-link07 {
	background: url("/images/2013/user-nav.png") no-repeat 0px 0px;
}
ul li a#un-link01:hover {
	background-position: -19px -35px;
}
ul li a.selected#un-link01 {
	background-position: -19px -35px;
}
ul li a#un-link02:hover {
	background-position: -136px -35px;
}
ul li a.selected#un-link02 {
	background-position: -136px -35px;
}
ul li a#un-link03:hover {
	background-position: -234px -35px;
}
ul li a.selected#un-link03 {
	background-position: -234px -35px;
}
ul li a#un-link04:hover {
	background-position: -282px -35px;
}
ul li a.selected#un-link04 {
	background-position: -282px -35px;
}
ul li a#un-link05:hover {
	background-position: -343px -35px;
}
ul li a.selected#un-link05 {
	background-position: -343px -35px;
}
ul li a#un-link06:hover {
	background-position: -412px -35px;
}
ul li a.selected#un-link06 {
	background-position: -412px -35px;
}
ul li a#un-link07:hover {
	background-position: -485px -35px;
}
ul li a.selected#un-link07 {
	background-position: -485px -35px;
}
#global-nav {
	background: url("/images/2013/global-nav.png") no-repeat 0px 0px; width: 960px; height: 50px; clear: both; position: relative; z-index: 15;
}
ul#global-nav li.level01 {
	margin: 0px; padding: 0px; float: left;
}
ul#global-nav li a span {
	display: none;
}
ul li a#gn-link01 {
	height: 50px; margin-left: 1px; display: block;
}
ul li a#gn-link02 {
	height: 50px; margin-left: 1px; display: block;
}
ul li a#gn-link03 {
	height: 50px; margin-left: 1px; display: block;
}
ul li a#gn-link04 {
	height: 50px; margin-left: 1px; display: block;
}
ul li a#gn-link05 {
	height: 50px; margin-left: 1px; display: block;
}
ul li a#gn-link06 {
	height: 50px; margin-left: 1px; display: block;
}
ul li a#gn-link07 {
	height: 50px; margin-left: 1px; display: block;
}
ul li a#gn-link08 {
	height: 50px; margin-left: 1px; display: block;
}
ul li#gn-corner {
	width: 24px; height: 50px;
}
ul li a#gn-link01 {
	width: 64px;
}
ul li a#gn-link02 {
	width: 68px;
}
ul li a#gn-link03 {
	width: 90px;
}
ul li a#gn-link04 {
	width: 145px;
}
ul li a#gn-link05 {
	width: 175px;
}
ul li a#gn-link06 {
	width: 132px;
}
ul li a#gn-link07 {
	width: 136px;
}
ul li a#gn-link08 {
	width: 118px;
}
ul li a#gn-link01:hover {
	background: url("/images/2013/global-nav.png") no-repeat 0px 0px;
}
ul li a.selected#gn-link01 {
	background: url("/images/2013/global-nav.png") no-repeat 0px 0px;
}
ul li a#gn-link02:hover {
	background: url("/images/2013/global-nav.png") no-repeat 0px 0px;
}
ul li a.selected#gn-link02 {
	background: url("/images/2013/global-nav.png") no-repeat 0px 0px;
}
ul li a#gn-link03:hover {
	background: url("/images/2013/global-nav.png") no-repeat 0px 0px;
}
ul li a.selected#gn-link03 {
	background: url("/images/2013/global-nav.png") no-repeat 0px 0px;
}
ul li a#gn-link04:hover {
	background: url("/images/2013/global-nav.png") no-repeat 0px 0px;
}
ul li a.selected#gn-link04 {
	background: url("/images/2013/global-nav.png") no-repeat 0px 0px;
}
ul li a#gn-link05:hover {
	background: url("/images/2013/global-nav.png") no-repeat 0px 0px;
}
ul li a.selected#gn-link05 {
	background: url("/images/2013/global-nav.png") no-repeat 0px 0px;
}
ul li a#gn-link06:hover {
	background: url("/images/2013/global-nav.png") no-repeat 0px 0px;
}
ul li a.selected#gn-link06 {
	background: url("/images/2013/global-nav.png") no-repeat 0px 0px;
}
ul li a#gn-link07:hover {
	background: url("/images/2013/global-nav.png") no-repeat 0px 0px;
}
ul li a.selected#gn-link07 {
	background: url("/images/2013/global-nav.png") no-repeat 0px 0px;
}
ul li a#gn-link08:hover {
	background: url("/images/2013/global-nav.png") no-repeat 0px 0px;
}
ul li a.selected#gn-link08 {
	background: url("/images/2013/global-nav.png") no-repeat 0px 0px;
}
ul li a#gn-link01:hover {
	background-position: -24px -50px;
}
ul li a.selected#gn-link01 {
	background-position: -24px -50px;
}
ul li a#gn-link02:hover {
	background-position: -89px -50px;
}
ul li a.selected#gn-link02 {
	background-position: -89px -50px;
}
ul li a#gn-link03:hover {
	background-position: -158px -50px;
}
ul li a.selected#gn-link03 {
	background-position: -158px -50px;
}
ul li a#gn-link04:hover {
	background-position: -249px -50px;
}
ul li a.selected#gn-link04 {
	background-position: -249px -50px;
}
ul li a#gn-link05:hover {
	background-position: -395px -50px;
}
ul li a.selected#gn-link05 {
	background-position: -395px -50px;
}
ul li a#gn-link06:hover {
	background-position: -571px -50px;
}
ul li a.selected#gn-link06 {
	background-position: -571px -50px;
}
ul li a#gn-link07:hover {
	background-position: -704px -50px;
}
ul li a.selected#gn-link07 {
	background-position: -704px -50px;
}
ul li a#gn-link08:hover {
	background-position: -841px -50px;
}
ul li a.selected#gn-link08 {
	background-position: -841px -50px;
}
#content-output {
	background: url("/images/2013/dos-flag-no-white03.jpg") no-repeat center -200px;
}
.left#content-output {
	background: url("/images/dos-flag-no-white02.jpg") no-repeat right -200px;
}
.no-bg-img#content-output {
	background: none;
}
#content-well {
	background: rgb(255, 255, 255); margin: 0px auto; width: 960px;
}
.left#content-output #content-well {
	margin: 0px;
}
#sidebar {
	background: rgb(255, 255, 255); margin: 0px; padding: 0px; width: 260px; overflow: hidden; float: right;
}
#bity {
	padding: 5px; border: 1px solid rgb(170, 170, 170); border-image: none; text-align: center; color: rgb(0, 0, 0); font-size: 11px; display: none; background-color: rgb(204, 204, 204);
}
#sidebar-top {
	background: url("images/2010/bkg-sidebar-top.png") repeat-x 0px 100% rgb(0, 0, 0); height: 274px; border-bottom-color: rgb(117, 160, 202); border-bottom-width: 1px; border-bottom-style: solid;
}
#search-the-site {
	background: url("/images/2013/search-input.png") no-repeat 0px 0px; margin: 0px 15px 0px 0px; padding: 0px; width: 230px; height: 25px; clear: both; float: right;
}
#search-the-site form {
	height: 25px;
}
#search-field-input {
	background: none; margin: 0px; padding: 0px 6px; border: 0px currentColor; border-image: none; width: 163px; height: 25px; line-height: 11px; font-family: Arial, sans-serif; font-size: 11px; vertical-align: top;
}
#search-button {
	background: url("/images/2013/search-button.png") no-repeat 0px 0px; margin: 0px 0px 0px 3px; padding: 0px; border: currentColor; border-image: none; width: 52px; height: 25px; vertical-align: top; cursor: pointer;
}
#search-button span {
	display: none;
}
#browse-by {
	margin: 22px 0px 12px; padding: 0px; float: right; visibility: hidden;
}
#browse-by dt h2 {
	background: url("/images/2010/hdr-browse-by.png") no-repeat 0px 0px; margin: 0px 0px 4px; width: 63px; height: 13px; padding-top: 0px; border-bottom-color: currentColor !important; border-bottom-width: medium !important; border-bottom-style: none !important;
}
#browse-by dt h2 span {
	display: none;
}
#browse-by dd {
	background: url("/images/2010/white-pipe.gif") no-repeat 0px 0.4em; margin: 0px; padding: 0px; display: inline;
}
#browse-by dd a {
	font: 600 10px/18px verdana; margin: 0px 3px; padding: 0px 3px; color: rgb(255, 255, 255); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
#browse-by dd a:hover {
	color: rgb(96, 155, 200);
}
#browse-by dd.first {
	background: none; padding-left: 0px;
}
#browse-by dd.first a {
	padding-left: 0px; margin-left: 0px;
}
#browse-by dd.last {
	padding-right: 0px;
}
#browse-by dd.last a {
	padding-right: 0px; margin-right: 0px;
}
.popup h2 {
	padding-top: 0px; border-bottom-color: currentColor !important; border-bottom-width: medium !important; border-bottom-style: none !important;
}
#browse-by-topic {
	background: url("/images/2010/shadow-top.png") no-repeat 0px 0px; margin: -48px 0px 0px 301px; width: 658px; padding-top: 18px; display: none; position: absolute; z-index: 40;
}
#browse-by-country {
	background: url("/images/2010/shadow-top.png") no-repeat 0px 0px; margin: -48px 0px 0px 301px; width: 658px; padding-top: 18px; display: none; position: absolute; z-index: 40;
}
#browse-by-location {
	background: url("/images/2010/shadow-top.png") no-repeat 0px 0px; margin: -48px 0px 0px 301px; width: 658px; padding-top: 18px; display: none; position: absolute; z-index: 40;
}
#popup-content01 {
	background: url("/images/2010/shadow-middle.png") repeat-y 0px 0px; margin: 0px; padding: 0px; height: auto !important; color: rgb(0, 0, 0); line-height: 17px; font-size: 11px; min-height: 490px;
}
#popup-content01 p {
	margin: 0px 0px 0px 30px; padding: 0px; clear: left;
}
#popup-bottom01 {
	background: url("/images/2010/shadow-bottom.png") no-repeat left top; height: 18px;
}
#browse-by-speaker {
	background: url("/images/2010/shadow-top02.png") no-repeat 0px 0px; margin: -48px 0px 0px 600px; width: 359px; padding-top: 18px; display: none; position: absolute; z-index: 40;
}
#browse-by-publication {
	background: url("/images/2010/shadow-top02.png") no-repeat 0px 0px; margin: -48px 0px 0px 600px; width: 359px; padding-top: 18px; display: none; position: absolute; z-index: 40;
}
#browse-by-date {
	background: url("/images/2010/shadow-top02.png") no-repeat 0px 0px; margin: -48px 0px 0px 600px; width: 359px; padding-top: 18px; display: none; position: absolute; z-index: 40;
}
#popup-content02 {
	background: url("/images/2010/shadow-middle02.png") repeat-y 0px 0px; margin: 0px; padding: 0px; height: auto !important; color: rgb(0, 0, 0); line-height: 17px; font-size: 11px; min-height: 254px;
}
#popup-content02 p {
	margin: 0px 0px 0px 30px; padding: 0px; clear: left;
}
#popup-bottom02 {
	background: url("/images/2010/shadow-bottom02.png") no-repeat 0px 0px; height: 18px;
}
a.close-popup {
	background: rgb(239, 239, 239); margin: 0px 38px 0px 0px; padding: 4px 6px 2px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(102, 102, 102); text-transform: uppercase; font-family: Monaco, Arial; font-size: 10px; font-weight: normal; text-decoration: none; float: right;
}
a.close-popup:hover {
	background: rgb(24, 90, 156); border: 1px solid rgb(24, 90, 156); border-image: none; color: rgb(255, 255, 255); text-decoration: none;
}
a.close-callout {
	background: rgb(239, 239, 239); margin: 15px 2px 3px; padding: 4px 6px 2px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(102, 102, 102); text-transform: uppercase; font-family: Monaco, Arial; font-size: 10px; font-weight: normal; text-decoration: none; float: left;
}
a.close-callout:hover {
	background: rgb(24, 90, 156); border: 1px solid rgb(24, 90, 156); border-image: none; color: rgb(255, 255, 255); text-decoration: none;
}
ul.alphabet {
	margin: 0px 0px 30px 30px; padding: 12px 0px 0px; clear: both; display: block;
}
ul.alphabet li {
	margin: 0px 4px 0px 0px; padding: 0px; float: left;
}
ul.alphabet li a {
	background: rgb(239, 239, 239); margin: 0px; padding: 2px 6px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(102, 102, 102); font-family: Monaco, Arial; font-size: 10px; font-weight: normal; text-decoration: none; display: block;
}
ul.alphabet li a:hover {
	background: rgb(24, 90, 156); border: 1px solid rgb(24, 90, 156); border-image: none; color: rgb(255, 255, 255); text-decoration: none;
}
ul.alphabet li a.selected {
	background: rgb(24, 90, 156); border: 1px solid rgb(24, 90, 156); border-image: none; color: rgb(255, 255, 255); text-decoration: none;
}
#popup-content01 ul.left-column {
	margin: 20px 0px; padding: 0px 30px; width: 257px; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; float: left;
}
#popup-content01 ul.left-column li a {
	color: rgb(24, 90, 156); line-height: 20px; font-family: "Lucida Grande", Arial, Verdana, sans-serif; font-size: 11px; text-decoration: none;
}
#popup-content01 ul.right-column li a {
	color: rgb(24, 90, 156); line-height: 20px; font-family: "Lucida Grande", Arial, Verdana, sans-serif; font-size: 11px; text-decoration: none;
}
#popup-content01 ul.left-column li a:hover {
	text-decoration: underline;
}
#popup-content01 ul.right-column li a:hover {
	text-decoration: underline;
}
#popup-content01 ul.right-column {
	margin: 20px 0px; padding: 0px 30px; width: 257px; float: left;
}
#popup-content02 ul.left-column {
	margin: 20px 0px 0px; padding: 0px 30px 20px; width: 257px; float: left;
}
#popup-content02 ul.left-column li a {
	color: rgb(24, 90, 156); line-height: 20px; font-family: "Lucida Grande", Arial, Verdana, sans-serif; font-size: 11px; text-decoration: none;
}
#popup-content02 ul.left-column li a:hover {
	text-decoration: underline;
}
h2.viewing-by-topic-headline {
	background: url("/images/2010/hdr-browse-by-topic.gif") no-repeat 0px 0px; margin: 5px 0px 0px 30px; padding: 0px; width: 122px !important; height: 17px; float: left;
}
h2.viewing-by-speaker-headline {
	background: url("/images/2010/hdr-browse-by-speaker.gif") no-repeat 0px 0px; margin: 5px 0px 0px 30px; padding: 0px; width: 146px !important; height: 17px; float: left;
}
h2.viewing-by-publication-headline {
	background: url("/images/2010/hdr-browse-by-publication.gif") no-repeat 0px 0px; margin: 5px 0px 0px 30px; padding: 0px; width: 165px !important; height: 17px; float: left;
}
h2.viewing-by-country-headline {
	background: url("/images/2010/hdr-browse-by-country.gif") no-repeat 0px 0px; margin: 5px 0px 0px 30px; padding: 0px; width: 141px !important; height: 17px; float: left;
}
h2.viewing-by-location-headline {
	background: url("/images/2010/hdr-browse-by-location.gif") no-repeat 0px 0px; margin: 5px 0px 0px 30px; padding: 0px; width: 145px !important; height: 17px; float: left;
}
h2.viewing-by-date-headline {
	background: url("/images/2010/hdr-browse-by-date.gif") no-repeat 0px 0px; margin: 5px 0px 0px 30px; padding: 0px; width: 117px !important; height: 17px; float: left;
}
h2.viewing-by-topic-headline span {
	display: none;
}
h2.viewing-by-speaker-headline span {
	display: none;
}
h2.viewing-by-publication-headline span {
	display: none;
}
h2.viewing-by-country-headline span {
	display: none;
}
h2.viewing-by-date-headline span {
	display: none;
}
h2.viewing-by-location-headline span {
	display: none;
}
#quick-links {
	margin: 20px 15px; padding: 0px;
}
h4.quick-links-headline {
	background: url("/images/2010/hdr-quick-links.png") no-repeat 0px 0px; margin: 0px 0px 10px; padding: 0px; width: 69px; height: 12px;
}
h4.quick-links-headline label {
	display: none;
}
#country-profiles {
	background: url("/images/2013/bkg-country-profiles.gif") repeat-x 0px 100%; margin: 0px; padding: 0px; width: 260px; height: auto !important; min-height: 76px;
}
h4.country-profiles-headline {
	background: url("/images/2010/hdr-country-profiles.png") no-repeat 0px 100%; margin: 0px 0px 10px 15px; padding: 10px 0px 0px; width: 94px; height: 13px;
}
h4.country-profiles-headline label {
	display: none;
}
#quick-links span.select {
	font: 11px/27px Arial, sans-serif; color: rgb(0, 0, 0); overflow: hidden; position: absolute; cursor: pointer; font-size-adjust: none; font-stretch: normal;
}
#country-profiles span.select {
	font: 11px/27px Arial, sans-serif; color: rgb(0, 0, 0); overflow: hidden; position: absolute; cursor: pointer; font-size-adjust: none; font-stretch: normal;
}
#quick-links span.select {
	background: url("/images/2010/select-quick-links03.png") no-repeat 0px 0px; margin: 0px; padding: 0px 24px 0px 8px; width: 172px; height: 27px;
}
#country-profiles span.select {
	background: url("/images/2010/select-country-profiles03.png") no-repeat 0px 0px; margin: 0px 0px 0px 15px; padding: 0px 24px 0px 8px; width: 172px; height: 27px;
}
#country-profiles select {
	margin: 0px 0px 0px 15px; padding: 0px;
}
.styled {
	height: 27px; cursor: pointer;
}
.browseby-styled {
	height: 27px; cursor: pointer;
}
select.browseby-styled {
	width: 204px; font-size: 12px; position: relative; z-index: 5; opacity: 0;
}
#quick-links select option {
	margin: 0px; padding: 1px 6px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);
}
#country-profiles select option {
	margin: 0px; padding: 1px 6px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);
}
h3.special-headline {
	background: url("/images/2010/hdr-about-the-secretary.png") no-repeat 0px 0px; margin: 0px; padding: 0px; width: 149px; height: 17px; display: none;
}
h3.about-the-secretary-headline span {
	display: none;
}
h3.special-headline span {
	display: none;
}
#about-the-secretary p a img {
	margin: 10px 0px 0px; padding: 0px; width: 215px; height: 107px; display: block;
}
#special p a img {
	margin: 10px 0px 0px; padding: 0px; width: 215px; height: 107px; display: none;
}
#about-the-secretary p {
	margin: 0px; padding: 0px; width: 215px; color: rgb(29, 37, 47); line-height: 17px; font-size: 12px; font-weight: normal;
}
#special p {
	margin: 0px; padding: 0px; width: 215px; color: rgb(255, 255, 255); line-height: 17px; font-size: 12px; font-weight: normal;
}
#where-is-the-secretary {
	background: url("/images/2010/bkg-ask-the-secretary.png") repeat-x 0px 100%; margin: 20px 10px 20px 18px; padding: 0px; width: 215px; height: 122px;
}
h3.where-is-the-secretary-headline a#where-is-the-secretary {
	background: url("/images/2010/btn-where-is-the-secretary.png") no-repeat 0px 0px; margin: 0px 0px 1px; padding: 0px; width: 215px; height: 33px; display: block;
}
h3.where-is-the-secretary-headline a#where-is-the-secretary:hover {
	background-position: 0px -33px;
}
h3.where-is-the-secretary-headline a span {
	display: none;
}
#where-is-the-secretary p a img {
	margin: 0px 17px 8px 0px; padding: 0px; width: 215px; height: 77px; display: block;
}
#where-is-the-secretary p a#text-the-secretary {
	background: url("/images/2010/btn-text-the-secretary.png") no-repeat 0px 0px; margin: 0px; padding: 0px; width: 178px; height: 62px; display: block; position: absolute; z-index: 2;
}
#where-is-the-secretary p a#text-the-secretary:hover {
	background-position: 0px -62px;
}
#where-is-the-secretary p a#text-the-secretary span {
	display: none;
}
#google-map-overlay {
	width: 920px; display: none; z-index: 10000; min-height: 552px; background-color: rgb(255, 255, 255); -moz-box-shadow: 0 0 90px 5px #000; -webkit-box-shadow: 0 0 90px #000;
}
#google-map-overlay .close {
	background: url("/images/2010/btn-close.gif") no-repeat 0px 0px; top: -15px; width: 36px; height: 36px; right: -15px; position: absolute; cursor: pointer;
}
#google-map-container {
	margin: 0px; padding: 0px; width: 540px; height: 480px; float: left; display: inline; background-color: rgb(255, 255, 255);
}
#google-map-container a img {
	display: block;
}
#locations-and-dates {
	margin: 0px; padding: 0px; width: 395px; float: left;
}
h2.where-is-the-secretary-headline02 {
	background: url("images/2010/hdr-where-is-the-secretary.png") no-repeat 0px 0px rgb(255, 255, 255); margin: 41px 0px 10px; padding: 0px 0px 10px; width: 395px; height: 23px; border-bottom-color: rgb(201, 201, 201); border-bottom-width: 1px; border-bottom-style: solid;
}
h2.where-is-the-secretary-headline02 span {
	display: none;
}
#locations-and-dates dl {
	margin: 0px 0px 15px; padding: 0px; color: rgb(91, 100, 110); line-height: 18px; font-size: 12px; font-weight: 600;
}
#locations-and-dates dl dt a {
	color: rgb(24, 90, 156); text-decoration: none;
}
#locations-and-dates dl dt a:hover {
	text-decoration: underline;
}
#locations-and-dates p a {
	font-size: 12px; font-weight: 600;
}
#stay-connected {
	background: url("/images/2013/bkg-stay-connected.gif") repeat-x 0px 0px; margin: 0px; padding: 15px 0px 0px;
}
h3.stay-connected-headline {
	background: url("/images/2010/hdr-stay-connected.png") no-repeat 50% 0px; width: 250px; height: 16px;
}
h3.stay-connected-headline span {
	display: none;
}
h3.stay-connected-headline-pepfar span {
	display: none;
}
h3.stay-connected-headline-pepfar {
	background: url("/images/images_pepfar/hdr-stay-connected-pepfar.png") no-repeat 50% 0px; width: 250px; height: 16px;
}
#stay-connected dl {
	padding: 0px 0px 12px;
}
#stay-connected dl dt strong a {
	color: rgb(24, 90, 156); line-height: 17px; font-size: 12px; font-weight: bold; text-decoration: none;
}
#stay-connected dl dt strong a:hover {
	text-decoration: underline;
}
#stay-connected dl dd.caps {
	margin: 0px; padding: 0px; color: rgb(119, 119, 119); text-transform: uppercase; line-height: 17px; letter-spacing: 0.6px; font-size: 10px; font-weight: normal;
}
#stay-connected dl dd {
	margin: 0px; padding: 2px 0px 0px; color: rgb(29, 37, 47); line-height: 17px; font-size: 12px; font-weight: normal;
}
#stay-connected p {
	text-align: center; color: rgb(29, 37, 47); line-height: 17px; font-size: 12px; font-weight: normal;
}
#stay-connected p#social-networking-icons-bonus {
	margin: 0px; padding: 0px 0px 15px;
}
#stay-connected p#social-networking-icons-bonus a {
	display: inline-block;
}
#social-networking-icons-bonus a.mobile {
	margin-right: 19px;
}
#social-networking-icons-bonus a.video {
	margin-right: 26px;
}
#social-networking-icons-bonus a.rss {
	margin-right: 20px;
}
#social-networking-icons-bonus a.subscribe {
	margin-right: 17px;
}
social-networking-icons {
	margin: 10px auto 24px; width: 244px; height: 36px;
}
#social-networking-icons a {
	margin: 0px 3px 0px 0px; padding: 0px; vertical-align: top; display: inline-block;
}
#social-networking-icons a.last {
	margin-right: 0px;
}
#social-networking-icons-round {
	margin: 10px auto 8px; width: 244px;
}
#social-networking-icons-round a {
	margin: 0px; padding: 0px; vertical-align: top; display: inline-block;
}
#social-networking-icons-round a.last {
	margin-right: 0px;
}
#from-the-dipnote-blog {
	margin: 25px 15px 0px 10px; padding: 0px 0px 4px; border-bottom-color: rgb(208, 210, 211); border-bottom-width: 1px; border-bottom-style: solid;
}
h3.from-dipnote-headline {
	margin: 0px 0px 10px; height: 16px;
}
h3.from-dipnote-headline span {
	color: rgb(91, 91, 91); font-family: arial; font-size: 11pt; font-weight: bold; text-decoration: none;
}
h3.from-dipnote-headline span a {
	color: rgb(24, 90, 156); font-family: arial; font-size: 11pt; font-weight: bold; text-decoration: none;
}
h3.from-dipnote-headline span a:hover {
	text-decoration: underline;
}
h3.from-dipnote-headline span.blue {
	color: rgb(24, 90, 156) !important;
}
#from-the-dipnote-blog ul {
	margin: 0px; padding: 0px 0px 10px;
}
#from-the-dipnote-blog ul li strong {
	margin: 0px; padding: 0px; color: rgb(73, 73, 73); line-height: 17px; font-size: 12px; font-weight: normal;
}
#from-the-dipnote-blog ul li strong a {
	color: rgb(24, 90, 156); font-weight: normal; text-decoration: none;
}
#from-the-dipnote-blog ul li strong a:hover {
	text-decoration: underline;
}
#from-the-dipnote-blog ul li.caps {
	margin: 0px; padding: 6px 0px 0px; color: rgb(119, 119, 119); text-transform: uppercase; line-height: 14px; letter-spacing: 0.6px; font-size: 10px; font-weight: normal;
}
#from-the-dipnote-blog ul li strong span.blue {
	color: rgb(24, 90, 156) !important;
}
p a#follow-us-link {
	color: rgb(24, 90, 156); line-height: 17px; font-size: 12px; font-weight: bold; text-decoration: none;
}
p a#follow-us-link:hover {
	text-decoration: underline;
}
p a#subscribe-to-updates {
	background: url("/images/2010/subscribe-to-updates.png") no-repeat 0px 0px; margin: 16px 15px 0px 20px; width: 168px; height: 10px; float: left; display: block;
}
p a#subscribe-to-updates:hover {
	background-position: 0px -10px;
}
p a#subscribe-to-updates span {
	display: none;
}
#left-content {
	background: rgb(255, 255, 255); margin: 0px; padding: 0px; width: 690px;
}
#top-story-top {
	background: none; height: 18px;
}
#top-story-left {
	background: none; width: 258px;
}
#top-story-right a {
	width: 432px; height: 243px;
}
#top-stories {
	background: url("/images/2013/bkg-top-story03.png") repeat-x 0px 0px; width: 690px !important;
}
.crop {
	width: 432px; height: 243px; overflow: hidden;
}
.crop img {
	width: 432px; height: auto;
}
#top-story-pagination {
	margin: 303px 0px 12px 258px;
}
#top-story-pagination li {
	float: left;
}
#top-story-pagination li a {
	background: url("/images/2013/bkg-top-story-pagination.png") no-repeat 0px 0px; margin: 0px 11px 0px 0px; padding: 0px; border: currentColor; border-image: none; width: 27px; height: 27px;
}
#top-story-pagination li a.activeSlide#one {
	background: url("/images/2013/bkg-top-story-pagination.png") no-repeat 0px 0px;
}
#top-story-pagination li a.activeSlide#two {
	background: url("/images/2013/bkg-top-story-pagination.png") no-repeat 0px 0px;
}
#top-story-pagination li a.activeSlide#three {
	background: url("/images/2013/bkg-top-story-pagination.png") no-repeat 0px 0px;
}
#top-story-pagination li a#one {
	margin-left: 164px;
}
#top-story-pagination li a.activeSlide#one {
	background-position: 0px -27px; border: currentColor; border-image: none;
}
#top-story-pagination li a#two {
	background-position: -28px 0px;
}
#top-story-pagination li a.activeSlide#two {
	background-position: -28px -27px; border: currentColor; border-image: none;
}
#top-story-pagination li a#three {
	background-position: -56px 0px; margin-right: 0px;
}
#top-story-pagination li a.activeSlide#three {
	background-position: -56px -27px; border: currentColor; border-image: none;
}
#top-story-pagination {
	width: 432px; height: 27px; position: absolute; z-index: 10;
}
#top-story-pagination a {
	text-indent: -9999px; overflow: hidden; text-decoration: none; float: left; display: block;
}
#top-story-pagination a.selected {
	background: rgb(96, 155, 200); border: 1px solid rgb(96, 155, 200); border-image: none;
}
#top-story-pagination a span {
	display: none;
}
#top-stories {
	width: 690px; height: 292px; overflow: hidden;
}
#top-story-top {
	margin: 0px; padding: 15px 25px; width: 640px; overflow: hidden; float: left;
}
#top-story-left {
	margin: 0px; padding: 0px; float: left;
}
#top-story-text {
	margin: 0px 20px 25px 25px; padding: 0px; height: 225px; overflow: hidden;
}
h2.top-story-headline01 a {
	margin: 0px; color: rgb(90, 90, 88); font-size: 24px;
}
h2.top-story-headline02 a {
	margin: 0px; color: rgb(90, 90, 88); font-size: 24px;
}
h2.top-story-headline03 a {
	margin: 0px; color: rgb(90, 90, 88); font-size: 24px;
}
dd.top-story-copy {
	height: 150px; color: rgb(29, 37, 47); line-height: 19px; overflow: hidden; font-size: 12px;
}
dd.top-story-copy a {
	color: rgb(24, 90, 156); text-decoration: none;
}
dd.top-story-copy a:hover {
	text-decoration: underline;
}
dd.top-story-copy p {
	margin: 0px;
}
#about-the-secretary a {
	color: rgb(24, 90, 156); text-decoration: none;
}
#about-the-secretary a:hover {
	text-decoration: underline;
}
#top-story-right {
	margin: 0px; padding: 0px; width: 432px; height: 243px; float: left;
}
#in-other-news {
	background: url("/images/2010/bkg-in-other-news.jpg") no-repeat 100% 10px; margin: 0px; padding: 45px 0px 0px; width: 690px; clear: left; display: inline-block;
}
h2.in-other-news-headline {
	background: url("/images/2010/hdr-in-other-news.png") no-repeat 0px 0px; width: 142px; height: 19px; margin-left: 50px;
}
h2.in-other-news-headline span {
	display: none;
}
#in-other-news-left {
	margin: 18px 0px 0px; padding: 0px 0px 0px 50px; width: 270px; float: left;
}
#in-other-news-right {
	margin: 18px 0px 0px; padding: 0px 0px 0px 50px; width: 270px; float: left;
}
#in-other-news-left dl dd p {
	margin: 0px;
}
#in-other-news-right dl dd p {
	margin: 0px;
}
#in-other-news a img {
	margin: 0px 15px 0px 0px; padding: 0px; float: left;
}
#in-other-news dl {
	margin: 0px; padding: 0px 0px 12px;
}
#in-other-news dl dt strong a {
	color: rgb(24, 90, 156); line-height: 17px; font-size: 12px; font-weight: bold; text-decoration: none;
}
#in-other-news dl dt strong a:hover {
	text-decoration: underline;
}
#in-other-news dl dd.caps {
	margin: 0px; padding: 0px; color: rgb(119, 119, 119); text-transform: uppercase; line-height: 17px; letter-spacing: 0.6px; font-size: 10px; font-weight: normal; text-decoration: none;
}
#in-other-news dd b {
	margin: 0px; padding: 0px; color: rgb(119, 119, 119); text-transform: uppercase; line-height: 17px; letter-spacing: 0.6px; font-size: 10px; font-weight: normal; text-decoration: none;
}
#in-other-news dd strong {
	margin: 0px; padding: 0px; color: rgb(119, 119, 119); text-transform: uppercase; line-height: 17px; letter-spacing: 0.6px; font-size: 10px; font-weight: normal; text-decoration: none;
}
#in-other-news dd a {
	margin: 0px; padding: 0px; color: rgb(24, 90, 156); line-height: 17px; letter-spacing: 0.6px; font-size: 11px; font-weight: normal; text-decoration: none;
}
#in-other-news a:hover {
	text-decoration: underline;
}
#in-other-news strong a:hover {
	text-decoration: underline;
}
#in-other-news dl dd {
	margin: 0px; padding: 2px 0px 0px; color: rgb(29, 37, 47); line-height: 17px; font-size: 12px; font-weight: normal;
}
#features {
	margin: 0px 0px 0px 50px; padding: 45px 0px 0px; width: 622px; clear: left; border-bottom-color: rgb(208, 210, 211); border-bottom-width: 1px; border-bottom-style: solid; display: inline-block;
}
h2.features-headline {
	background: url("/images/2010/hdr-features.png") no-repeat 0px 0px; margin: 0px 0px 15px; padding: 0px 0px 8px; width: 564px; height: 18px; border-bottom-color: rgb(208, 210, 211); border-bottom-width: 1px; border-bottom-style: solid; float: left;
}
h2.features-headline span {
	display: none;
}
#feature-slide {
	margin: 0px 0px 15px; padding: 0px;
}
.feature1 {
	margin: 0px 22px 0px 0px; padding: 0px 22px 15px 0px; width: 174px; clear: left; border-right-color: rgb(208, 210, 211); border-right-width: 1px; border-right-style: solid; float: left;
}
.feature2 {
	margin: 0px 22px 0px 0px; padding: 0px 22px 15px 0px; width: 170px; border-right-color: rgb(208, 210, 211); border-right-width: 1px; border-right-style: solid; float: left;
}
.feature3 {
	margin: 0px 7px 0px 0px; padding: 0px 0px 15px; width: 168px; float: left;
}
.feature-set dl {
	margin: 0px; padding: 12px 0px 0px;
}
.feature-set dl dt strong a {
	color: rgb(24, 90, 156); line-height: 16px; font-size: 12px; font-weight: bold; text-decoration: none;
}
.feature-set dl dt strong a:hover {
	text-decoration: underline;
}
.feature-set dl dd {
	margin: 0px; padding: 2px 0px 0px; color: rgb(29, 37, 47); line-height: 18px; font-size: 11px; font-weight: normal;
}
.feature-set dl dd p {
	margin: 0px;
}
#feature-nav {
	margin: 6px 0px 0px; padding: 0px; width: 58px; height: 20px; border-bottom-color: rgb(208, 210, 211); border-bottom-width: 1px; border-bottom-style: solid; float: right;
}
#feature-nav a {
	float: left; display: block;
}
a#previous-feature {
	background: url("/images/2013/prev-next-arrows.png") no-repeat 0px 0px; margin: 0px 2px 0px 0px; width: 28px; height: 20px;
}
a#next-feature {
	background: url("/images/2013/prev-next-arrows.png") no-repeat -30px 0px; width: 28px; height: 20px; float: left;
}
a#previous-feature:hover {
	background-position: 0px -20px;
}
a#next-feature:hover {
	background-position: -30px -20px;
}
a#previous-feature span {
	display: none;
}
a#next-feature span {
	display: none;
}
#dos-footer {
	margin: 0px auto; width: 960px; background-color: rgb(255, 255, 255);
}
.left#footer-output #dos-footer {
	margin: 0px;
}
#footer-links {
	margin: 0px 50px 4px; padding: 34px 0px 20px; clear: both; border-bottom-color: rgb(127, 127, 127); border-bottom-width: 5px; border-bottom-style: solid; background-color: rgb(255, 255, 255);
}
#footer-links ul li {
	background: url("/images/2010/blue-pipe.gif") no-repeat 0px 0.5em; padding: 0px 2px; height: 10px; line-height: 18px; display: inline;
}
#footer-links ul li a {
	margin: 0px; padding: 0px 6px 0px 8px; color: rgb(24, 90, 156); font-size: 10px; font-weight: normal; text-decoration: none;
}
#footer-links ul li a:hover {
	text-decoration: underline;
}
#footer-links ul li.first {
	background: none; padding-left: 0px;
}
#footer-links ul li.first a {
	background: none; padding-left: 0px;
}
#footer-links ul li.last {
	padding-right: 0px;
}
#footer-links ul li a img {
	vertical-align: text-bottom;
}
#sitemap-links {
	margin: 0px 0px 0px 50px; padding: 0px; width: 880px; clear: left;
}
#sitemap-links dl {
	margin: 20px 0px 0px;
}
#sitemap-links dl dt {
	margin: 0px 0px 4px; padding: 0px;
}
#sitemap-links dl dd {
	margin: 0px 0px 4px; padding: 0px; font-weight: normal;
}
#sitemap-links dl dt a {
	color: rgb(24, 90, 156); line-height: 14px; font-size: 11px; text-decoration: none; display: block;
}
#sitemap-links dl dd a {
	color: rgb(24, 90, 156); line-height: 14px; font-size: 11px; text-decoration: none; display: block;
}
#sitemap-links dl dt a:hover {
	text-decoration: underline;
}
#sitemap-links dl dd a:hover {
	text-decoration: underline;
}
#sitemap-links dl dt a {
	font-weight: bold;
}
#sitemap-links dl dd a {
	font-size: 10px; font-weight: normal;
}
.sitemap-column {
	margin: 0px 22px 0px 0px; padding: 0px 0px 20px; width: 154px; float: left;
}
#page-footer {
	background: url("/images/2010/footer-bar.png") no-repeat 0px 0px; width: 960px; height: 17px; color: rgb(127, 127, 127); line-height: 18px; clear: left; font-size: 10px;
}
#page-footer p {
	margin: 0px; padding: 28px 50px 12px;
}
#lastSpeaker {
	display: none;
}
#lastCountry {
	display: none;
}
#lastTopic {
	display: none;
}
#lastLocation {
	display: none;
}
#ie6msg {
	padding: 10px; border: 2px solid gold; border-image: none; left: 350px; top: 220px; width: 490px; height: 110px; color: rgb(0, 0, 0); line-height: 16px; font-family: arial; font-size: 12px; float: left; display: none; position: absolute; z-index: 10; background-color: rgb(204, 204, 204);
}
#map_popup {
	left: 100px; top: 50px; width: 920px; height: 550px; display: none; position: absolute; z-index: 20; background-color: rgb(204, 204, 204);
}
.feature-set dl dd a {
	color: rgb(119, 119, 119); text-decoration: none;
}
.feature-set dl dd a:hover {
	text-decoration: underline;
}
.whatsnew_speakers {
	color: rgb(0, 0, 0); line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal;
}
#toc {
	padding: 5px; border: 1px solid rgb(119, 119, 119); border-image: none; margin-top: 10px;
}
#toc-title {
	color: rgb(51, 51, 51); text-transform: uppercase; font-family: verdana; font-size: 12px; font-weight: bold;
}
#toc .section {
	list-style: none; font-weight: bold;
}
#toc .section-item {
	padding-bottom: 0px; font-weight: normal;
}
#rssdate {
	color: rgb(119, 119, 119); font-size: 10px;
}
#high1 {
	display: none;
}
#high2 {
	display: none;
}
#high3 {
	display: none;
}
#high4 {
	display: none;
}
#high5 {
	display: none;
}
#high6 {
	display: none;
}
#high7 {
	display: none;
}
#high8 {
	display: none;
}
#high9 {
	display: none;
}
#high10 {
	display: none;
}
#learn1 {
	display: none;
}
#learn2 {
	display: none;
}
#learn3 {
	display: none;
}
#learn4 {
	display: none;
}
#learn5 {
	display: none;
}
.learnmore-headline {
	display: none;
}
.highlights-headline {
	display: none;
}
#highlights-tier3-short p {
	margin-top: 0px;
}
.highlight-header {
	color: rgb(0, 51, 102);
}
#special {
	margin: 20px 10px 15px 0px; padding: 0px 0px 0px 18px; border: 2px solid rgb(34, 34, 34); border-image: none; color: rgb(255, 255, 255); background-color: rgb(229, 18, 50);
}
h3.special-headline {
	background: url("/images/2010/hdr-about-the-secretary.png") no-repeat 0px 0px; margin: 0px; padding: 0px; width: 149px; height: 17px; display: none;
}
h3.special-headline span {
	display: none;
}
#special p a img {
	margin: 10px 0px 0px; padding: 0px; width: 215px; height: 107px; display: none;
}
#special p {
	margin: 0px; padding: 0px; width: 215px; color: rgb(255, 255, 255); line-height: 17px; font-size: 12px; font-weight: normal;
}
#high1 {
	margin: 0px 10px;
}
#high2 {
	margin: 0px 10px;
}
#high3 {
	margin: 0px 10px;
}
#high4 {
	margin: 0px 10px;
}
#high5 {
	margin: 0px 10px;
}
#high6 {
	margin: 0px 10px;
}
#high7 {
	margin: 0px 10px;
}
#high8 {
	margin: 0px 10px;
}
#high9 {
	margin: 0px 10px;
}
#high10 {
	margin: 0px 10px;
}
#learn1 {
	margin: 0px 10px;
}
#learn2 {
	margin: 0px 10px;
}
#learn3 {
	margin: 0px 10px;
}
#learn4 {
	margin: 0px 10px;
}
#learn5 {
	margin: 0px 10px;
}
#high1 p {
	line-height: 17px; font-size: 12px;
}
#high2 p {
	line-height: 17px; font-size: 12px;
}
#high1 a {
	color: rgb(24, 90, 156); text-decoration: none;
}
#high2 a {
	color: rgb(24, 90, 156); text-decoration: none;
}
#high1 a:hover {
	text-decoration: underline;
}
#high2 a:hover {
	text-decoration: underline;
}
#home-page-highlights {
	background: none; padding: 10px 0px 5px; display: none;
}
#home-page-highlights .highlight-header {
	color: rgb(162, 37, 56);
}
#about-the-secretary {
	background: url("/images/2010/bkg-ask-the-secretary.png") repeat-x 0px 100%; margin: 20px 10px 15px 0px; padding: 0px 0px 0px 6px;
}
#special {
	margin: 20px 10px 15px 0px; padding: 0px 0px 0px 18px; border: 2px solid rgb(34, 34, 34); border-image: none; color: rgb(255, 255, 255); background-color: rgb(229, 18, 50);
}
h3.about-the-secretary-headline {
	background: url("/images/2010/hdr-about-the-secretary.png") no-repeat 0px 0px; margin: 0px; padding: 0px; width: 149px; height: 17px;
}
#top-meta {
	position: relative;
}
#share-icons {
	right: 0px; bottom: 0px; position: absolute;
}
#share-icons img {
	padding: 0px;
}
#share-icons-cat {
	margin-top: -25px; float: right;
}
#share-icons-cat img {
	padding: 0px;
}
.google_plusone_iframe_widget {
	width: 25px !important;
}
#body-col02-row01 br {
	height: 1px; line-height: 1px;
}
.cf::before {
	display: table; content: " ";
}
.cf::after {
	display: table; content: " ";
}
.cf::after {
	clear: both;
}
.cf {
	
}
.content-well.stay-connected {
	margin: 0px;
}
.top.highlights.stay-connected {
	margin: 0px;
}
.inside.highlights.stay-connected {
	margin: 0px;
}
.top.highlights.stay-connected {
	width: 246px;
}
.inside.highlights.stay-connected {
	width: 246px;
}
.content-well.stay-connected dt {
	font: 600 11px/11px Verdana; font-size-adjust: none; font-stretch: normal;
}
.top.highlights.stay-connected dt {
	font: 600 11px/11px Verdana; font-size-adjust: none; font-stretch: normal;
}
.inside.highlights.stay-connected dt {
	font: 600 11px/11px Verdana; font-size-adjust: none; font-stretch: normal;
}
.top.highlights.stay-connected dt {
	margin: 0px; padding: 0px 0px 9px; width: 246px; text-align: center;
}
.inside.highlights.stay-connected dt {
	margin: 0px; padding: 0px 0px 9px; width: 246px; text-align: center;
}
.content-well.stay-connected dd {
	margin: 0px; float: left;
}
.top.highlights.stay-connected dd {
	margin: 0px; float: left;
}
.inside.highlights.stay-connected dd {
	margin: 0px; float: left;
}
.content-well.stay-connected dd a {
	display: block;
}
.top.highlights.stay-connected dd a {
	display: block;
}
.inside.highlights.stay-connected dd a {
	display: block;
}
.content-well.stay-connected dd a img {
	border: currentColor; border-image: none;
}
.top.highlights.stay-connected dd a img {
	border: currentColor; border-image: none;
}
.inside.highlights.stay-connected dd a img {
	border: currentColor; border-image: none;
}
.top dd a.dipnote-blog {
	margin: 0px 9px 0px 0px;
}
.inside dd a.dipnote-blog {
	margin: 0px 9px 0px 0px;
}
.top dd a.twitter {
	margin: 2px 8px 0px 0px;
}
.inside dd a.twitter {
	margin: 2px 8px 0px 0px;
}
.top dd a.tumblr {
	margin: 2px 10px 0px 0px;
}
.inside dd a.tumblr {
	margin: 2px 10px 0px 0px;
}
.top dd a.rss-feed {
	margin: 2px 10px 0px 0px;
}
.inside dd a.rss-feed {
	margin: 2px 10px 0px 0px;
}
.top dd a.facebook {
	margin: 1px 10px 0px 0px;
}
.inside dd a.facebook {
	margin: 1px 10px 0px 0px;
}
.top dd a.flickr {
	margin: 5px 9px 0px 0px;
}
.inside dd a.flickr {
	margin: 5px 9px 0px 0px;
}
.top dd a.youtube {
	margin: 2px 9px 0px 0px;
}
.inside dd a.youtube {
	margin: 2px 9px 0px 0px;
}
.top dd a.google-plus {
	margin: 3px 8px 0px 0px;
}
.inside dd a.google-plus {
	margin: 3px 8px 0px 0px;
}
.top dd a.subscribe {
	margin: 3px 0px 0px;
}
.inside dd a.subscribe {
	margin: 3px 0px 0px;
}
.content-well.stay-connected {
	padding: 10px 0px;
}
.content-well.stay-connected dt {
	padding: 0px 0px 9px; color: rgb(102, 102, 102);
}
.content-well.stay-connected dd a {
	margin: 0px 4px;
}
.top.highlights.stay-connected {
	background: url("/images/2013/bkg-stay-connected-tile02.png") repeat-x 0px 0px rgb(220, 220, 220); padding: 14px 6px 9px; border: 1px solid rgb(204, 204, 204); border-image: none;
}
.stay-connected img {
	padding: 0px !important;
}
.inside.highlights.stay-connected {
	padding: 10px 7px;
}
#twitter-feed {
	margin: 0px 5px 10px; padding: 4px 0px; border-top-color: rgb(208, 210, 211); border-bottom-color: rgb(208, 210, 211); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
#twitter-feed a {
	color: rgb(24, 90, 156); font-size: 15px; font-weight: bold; text-decoration: none;
}
#highlights-tier3-short #learn1 ul {
	padding: 0px 0px 0px 30px; list-style-type: disc !important;
}
#ds_input td {
	padding: 5px; text-align: right;
}
#ds_input td.inputs {
	padding: 5px; text-align: left;
}
#ds_search {
	text-align: left;
}
#ds_search_help {
	font-style: italic;
}
#ds_search_results {
	padding-right: 8px; font-weight: bold; float: left;
}
#ds_search_total {
	
}
#ds_form {
	text-align: left;
}
#results-table {
	text-align: left; table-layout: fixed;
}
.ds-results-table td {
	padding: 5px;
}
.ds-results-table th {
	padding: 5px;
}
.ds-results-table th a {
	color: rgb(255, 255, 255);
}
.ds-results-table th:hover {
	cursor: pointer;
}
.ds-results-table th {
	color: rgb(255, 255, 255); text-transform: uppercase; font-weight: bold; min-width: 120px; background-color: rgb(136, 136, 136);
}
.ds-results-table th.headerSortUp {
	background-color: rgb(102, 102, 102) !important;
}
.ds-results-table th.headerSortDown {
	background-color: rgb(102, 102, 102) !important;
}
.ds-results-table thead tr .headerSortUp {
	background-position: right; background-image: url("/images/asc.gif"); background-repeat: no-repeat;
}
.ds-results-table thead tr .headerSortDown {
	background-position: right; background-image: url("/images/desc.gif"); background-repeat: no-repeat;
}
#no-results {
	color: red;
}
#memorial-quote {
	padding: 30px 40px 0px 60px; color: rgb(170, 170, 170); line-height: 26px; font-family: Georgia; font-size: 18px; font-style: italic;
}
.return-ds-memorial {
	letter-spacing: 0px; font-weight: normal;
}
#ds-submit {
	padding: 12px 0px; text-align: center; display: none;
}
#image_file .caption {
	color: rgb(119, 119, 119); font-size: 11px; font-weight: bold;
}
