body {
	font-family: Arial,Helvetica,sans-serif; font-size: 87.5%;
}
.ui-widget {
	font-family: Arial,Helvetica,sans-serif; font-size: 87.5%;
}
#site-name {
	font-family: "Oswald";
}
#site-slogan {
	font-family: "Oswald";
}
#page-title {
	font-family: "Oswald";
}
.node-title {
	font-family: "Oswald";
}
.comment-title {
	font-family: "Oswald";
}
.block-title {
	font-family: "Oswald";
}
h1 {
	font-family: "Oswald";
}
h2 {
	font-family: "Oswald";
}
h3 {
	font-family: "Oswald";
}
h4 {
	font-family: "Oswald";
}
h5 {
	font-family: "Oswald";
}
h6 {
	font-family: "Oswald";
}
#menu-bar .menu-wrapper {
	font-family: "Oswald"; font-size: 1em;
}
#primary-menu-bar .menu-wrapper {
	font-family: "Oswald"; font-size: 1em;
}
#secondary-menu-bar .menu-wrapper {
	font-family: "Oswald"; font-size: 1em;
}
#menu-bar #block-system-user-menu {
	font-family: "Oswald"; font-size: 1em;
}
nav.block .block-content {
	font-family: "Trebuchet MS","Helvetica Neue",Arial,Helvetica,sans-serif;
}
ruby ruby {
	font-family: "Trebuchet MS","Helvetica Neue",Arial,Helvetica,sans-serif;
}
