@media only screen and (max-width:480px)
{
[class*='float-blocks'].region .block {
	width: 100%; float: none;
}
}
@media only screen and (max-width:320px)
{
.at-mt h2.at-menu-toggle-button a {
	padding: 0px 10px;
}
.at-mt #menu-toggle ul li {
	background-image: none;
}
.at-mt #menu-toggle ul li a {
	background-image: none;
}
.at-mt #menu-toggle ul li.sf-depth-2 ul {
	border-right-color: currentColor; border-bottom-color: currentColor; border-left-color: currentColor; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-right-style: none; border-bottom-style: none; border-left-style: none;
}
.view-frontpage table td {
	border: 0px currentColor !important; border-image: none !important; width: 100%; clear: both; display: block;
}
.region-two-66-33-second {
	margin-bottom: 0px;
}
.region-two-66-33-second .block {
	margin: 0px; border: 0px currentColor; border-image: none; box-shadow: none;
}
}
@media only screen and (max-width:580px) and (min-width:321px)
{
.at-mt h2.at-menu-toggle-button a {
	padding: 0px 10px;
}
.at-mt #menu-toggle ul li {
	background-image: none;
}
.at-mt #menu-toggle ul li a {
	background-image: none;
}
.at-mt #menu-toggle ul li.sf-depth-2 ul {
	border-right-color: currentColor; border-bottom-color: currentColor; border-left-color: currentColor; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-right-style: none; border-bottom-style: none; border-left-style: none;
}
.view-frontpage table td {
	border: 0px currentColor !important; border-image: none !important; width: 100%; clear: both; display: block;
}
.region-two-66-33-second {
	margin-bottom: 0px;
}
.region-two-66-33-second .block {
	margin: 0px; border: 0px currentColor; border-image: none; box-shadow: none;
}
}
@media only screen and (max-width:768px) and (min-width:581px)
{
.at-mt h2.at-menu-toggle-button a {
	padding: 0px 10px;
}
.at-mt #menu-toggle ul li {
	background-image: none;
}
.at-mt #menu-toggle ul li a {
	background-image: none;
}
.at-mt #menu-toggle ul li.sf-depth-2 ul {
	border-right-color: currentColor; border-bottom-color: currentColor; border-left-color: currentColor; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-right-style: none; border-bottom-style: none; border-left-style: none;
}
}
@media only screen and (max-width:1024px) and (min-width:769px)
{
.at-mt h2.at-menu-toggle-button a {
	padding: 0px 10px;
}
.at-mt #menu-toggle ul li {
	background-image: none;
}
.at-mt #menu-toggle ul li a {
	background-image: none;
}
.at-mt #menu-toggle ul li.sf-depth-2 ul {
	border-right-color: currentColor; border-bottom-color: currentColor; border-left-color: currentColor; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-right-style: none; border-bottom-style: none; border-left-style: none;
}
}
