html {
	height: 100%; line-height: 1.5; -ms-overflow-y: scroll; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;
}
body {
	margin: 0px; padding: 0px; min-height: 100%; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; text-rendering: optimizeLegibility	;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
menu {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
h1 {
	font-size: 1.53em;
}
h2 {
	font-size: 1.38em;
}
h3 {
	font-size: 1.23em;
}
h4 {
	font-size: 1.07em;
}
h5 {
	font-size: 1em;
}
h6 {
	font-size: 1em;
}
a img {
	border: currentColor; border-image: none;
}
p {
	margin: 0px 0px 1.5em; padding: 0px;
}
em {
	font-style: italic;
}
dfn {
	font-style: italic;
}
ins {
	text-decoration: none; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
pre {
	font-family: Consolas,"Lucida Console",Menlo,Monaco,"DejaVu Sans Mono",monospace,sans-serif; font-size: 1em;
}
code {
	font-family: Consolas,"Lucida Console",Menlo,Monaco,"DejaVu Sans Mono",monospace,sans-serif; font-size: 1em;
}
tt {
	font-family: Consolas,"Lucida Console",Menlo,Monaco,"DejaVu Sans Mono",monospace,sans-serif; font-size: 1em;
}
samp {
	font-family: Consolas,"Lucida Console",Menlo,Monaco,"DejaVu Sans Mono",monospace,sans-serif; font-size: 1em;
}
kbd {
	font-family: Consolas,"Lucida Console",Menlo,Monaco,"DejaVu Sans Mono",monospace,sans-serif; font-size: 1em;
}
var {
	font-family: Consolas,"Lucida Console",Menlo,Monaco,"DejaVu Sans Mono",monospace,sans-serif; font-size: 1em;
}
blockquote {
	font-style: italic; quotes: "" "";
}
q {
	font-style: italic; quotes: "" "";
}
blockquote {
	background: rgb(248, 248, 248); margin: 0px 2em 1.5em; padding: 10px;
}
blockquote::before {
	content: "";
}
blockquote::after {
	content: "";
}
q::before {
	content: "";
}
q::after {
	content: "";
}
blockquote p {
	margin: 0px;
}
strong {
	font-weight: 700;
}
dfn {
	font-weight: 700;
}
caption {
	font-weight: 700;
}
th {
	font-weight: 700;
}
ul {
	margin: 0px 0px 1.5em 3em; padding: 0px;
}
ol {
	margin: 0px 0px 1.5em 3em; padding: 0px;
}
.item-list ul {
	margin: 0px 0px 0px 1em; padding: 0px;
}
.item-list ol {
	margin: 0px 0px 0px 1em; padding: 0px;
}
ul ul {
	margin-bottom: 0px;
}
ul ol {
	margin-bottom: 0px;
}
ol ol {
	margin-bottom: 0px;
}
ol ul {
	margin-bottom: 0px;
}
.block ul ul {
	margin-bottom: 0px;
}
.block ul ol {
	margin-bottom: 0px;
}
.block ol ol {
	margin-bottom: 0px;
}
.block ol ul {
	margin-bottom: 0px;
}
.item-list ul ul {
	margin-bottom: 0px;
}
.item-list ul ol {
	margin-bottom: 0px;
}
.item-list ol ol {
	margin-bottom: 0px;
}
.item-list ol ul {
	margin-bottom: 0px;
}
ul {
	list-style-type: disc;
}
ul ul ul {
	list-style-type: square;
}
ol {
	list-style-type: decimal;
}
ol ol {
	list-style-type: lower-alpha;
}
ol ol ol {
	list-style-type: lower-roman;
}
ul ul {
	list-style-type: circle;
}
ul ul ul ul {
	list-style-type: circle;
}
dt {
	font-weight: 700;
}
dd {
	margin: 0px 0px 1.5em 1.53em;
}
hr {
	border-right-color: currentColor; border-bottom-color: rgb(234, 234, 234); border-left-color: currentColor; border-right-width: 0px; border-left-width: 0px; border-right-style: none; border-left-style: none;
}
img {
	height: auto; -ms-interpolation-mode: bicubic; max-width: 100%;
}
img {
	max-width: 100%;
}
embed {
	max-width: 100%;
}
object {
	max-width: 100%;
}
video {
	max-width: 100%;
}
.lt-ie9 img {
	max-width: none;
}
.lt-ie9 object {
	max-width: none;
}
.lt-ie9 embed {
	max-width: none;
}
.lt-ie9 video {
	max-width: none;
}
#map img {
	max-width: none !important;
}
.gmap img {
	max-width: none !important;
}
.view-gmap img {
	max-width: none !important;
}
.openlayers-map img {
	max-width: none !important;
}
#getlocations_map_canvas img {
	max-width: none !important;
}
#locationmap_map img {
	max-width: none !important;
}
.geofieldMap img {
	max-width: none !important;
}
.views_horizontal_slider img {
	max-width: none !important;
}
.geolocation-map img {
	max-width: none !important;
}
.geolocation-views-map img {
	max-width: none !important;
}
svg:not(:root) {
	overflow: hidden;
}
audio {
	display: inline-block;
}
canvas {
	display: inline-block;
}
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
}
header[role=banner] {
	overflow: visible; -ms-word-wrap: break-word;
}
.content-inner {
	overflow: visible; -ms-word-wrap: break-word;
}
.nav {
	overflow: visible; -ms-word-wrap: break-word;
}
.region-sidebar-first {
	overflow: visible; -ms-word-wrap: break-word;
}
.region-sidebar-second {
	overflow: visible; -ms-word-wrap: break-word;
}
.region-secondary-content {
	overflow: visible; -ms-word-wrap: break-word;
}
.region-tertiary-content {
	overflow: visible; -ms-word-wrap: break-word;
}
.region-footer {
	overflow: visible; -ms-word-wrap: break-word;
}
.ir {
	font: 0px/0 a; border: 0px currentColor; border-image: none; color: transparent; text-indent: 100%; overflow: hidden; display: block !important; white-space: nowrap; font-size-adjust: none; font-stretch: normal; text-shadow: none; background-color: transparent;
}
.element-invisible {
	padding: 0px; border: 0px currentColor; border-image: none; width: 1px; height: 1px; overflow: hidden; position: absolute !important; clip: rect(1px, 1px, 1px, 1px);
}
.element-focusable.element-invisible:active {
	width: auto; height: auto; overflow: visible; position: static !important; clip: auto;
}
.element-focusable.element-invisible:focus {
	width: auto; height: auto; overflow: visible; position: static !important; clip: auto;
}
.offscreen {
	outline: 0px; top: -99999em; width: 1px; height: 1px; overflow: hidden; position: absolute;
}
.element-hidden {
	display: none;
}
form {
	margin: 0px 0px 1.5em; padding: 0px;
}
.form-item label {
	font-weight: 400;
}
input {
	margin: 0px;
}
input.title {
	font-size: 1.38em;
}
input.text {
	margin: 0px; border: 1px solid rgb(204, 204, 204); border-image: none;
}
input.title {
	margin: 0px; border: 1px solid rgb(204, 204, 204); border-image: none;
}
textarea {
	margin: 0px; border: 1px solid rgb(204, 204, 204); border-image: none;
}
select {
	margin: 0px; border: 1px solid rgb(204, 204, 204); border-image: none;
}
.form-text:focus {
	background: rgb(255, 255, 223); border: 1px solid rgb(255, 204, 0); border-image: none;
}
.form-checkbox:focus {
	background: rgb(255, 255, 223); border: 1px solid rgb(255, 204, 0); border-image: none;
}
.form-radio:focus {
	background: rgb(255, 255, 223); border: 1px solid rgb(255, 204, 0); border-image: none;
}
.form-select:focus {
	background: rgb(255, 255, 223); border: 1px solid rgb(255, 204, 0); border-image: none;
}
textarea:focus {
	background: rgb(255, 255, 255); border: 1px solid rgb(255, 204, 0); border-image: none;
}
input.text {
	padding: 0.5em;
}
input.title {
	padding: 0.5em;
}
input.form-text {
	padding: 4px; border: 1px solid rgb(234, 234, 234); border-image: none; height: auto; box-shadow: inset 0px 1px 2px 2px #f9f9f9; -webkit-box-shadow: inset 0 1px 2px 2px #f9f9f9; -moz-box-shadow: inset 0 1px 2px 2px #f9f9f9;
}
textarea {
	padding: 4px; border: 1px solid rgb(234, 234, 234); border-image: none; height: auto; box-shadow: inset 0px 1px 2px 2px #f9f9f9; -webkit-box-shadow: inset 0 1px 2px 2px #f9f9f9; -moz-box-shadow: inset 0 1px 2px 2px #f9f9f9;
}
textarea {
	font: 1em/normal normal Arial, Helvetica, sans-serif; font-size-adjust: none; font-stretch: normal;
}
input {
	font: 1em/normal normal Arial, Helvetica, sans-serif; font-size-adjust: none; font-stretch: normal;
}
.form-item {
	margin-top: 10px; margin-bottom: 10px;
}
.form-action {
	margin-top: 10px; margin-bottom: 10px;
}
.exposed-filters .form-item {
	margin-top: 0px; margin-bottom: 10px;
}
.form-item textarea.error {
	padding: 2px;
}
.form-item .description {
	font-size: 0.84em;
}
fieldset .description {
	font-size: 0.84em;
}
.fieldset-layout-settings dd {
	font-size: 0.84em;
}
span.form-required {
	
}
span.marker {
	
}
#article-admin-filter ul {
	padding: 0.5em 0px;
}
#edit-operation-wrapper select {
	margin: 0.5em;
}
div.resizable-textarea textarea {
	margin-top: 0px;
}
fieldset {
	background: none; margin: 10px 0px; padding: 10px; border: 1px solid rgb(218, 218, 218); border-image: none;
}
fieldset fieldset:last-child {
	margin-bottom: 0px;
}
.form-type-radio .description {
	margin-left: 0px;
}
.form-type-checkbox .description {
	margin-left: 0px;
}
*:first-child + html fieldset {
	background-position: 0px 10px; padding: 0px 10px 10px; background-color: transparent;
}
*:first-child + html fieldset > .description {
	padding-top: 10px;
}
*:first-child + html fieldset .fieldset-wrapper .description {
	padding-top: 10px;
}
fieldset legend {
	padding: 0px 10px 0px 0px; font-weight: 400; display: block;
}
*:first-child + html fieldset legend {
	display: inline;
}
*:first-child + html fieldset.collapsed legend {
	display: inline;
}
html.js fieldset.collapsed {
	background: none; padding-top: 5px;
}
.vertical-tabs-pane > .fieldset-wrapper {
	margin-top: 15px;
}
.at-headliner .vertical-tabs-panes #edit-headings .fieldset-wrapper fieldset.form-wrapper {
	padding-top: 0px;
}
#search-block-form .form-submit {
	padding: 3px; font-size: 0.83em;
}
fieldset#edit-advanced fieldset {
	margin: 0px 10px 10px 0px; float: left;
}
fieldset#edit-advanced fieldset .fieldset-legend {
	background: none; padding-left: 1em;
}
.advanced-search-submit {
	clear: both;
}
.search-advanced .criterion {
	margin: 0px 5px; float: none;
}
#edit-keywords-fieldset :first-child.form-item {
	margin-top: 5px;
}
#search-form {
	margin: 10px 0px;
}
#search-form > div {
	
}
#search-form .container-inline {
	
}
#search-form label {
	
}
#search-form input {
	
}
#search-form .form-item {
	
}
#search-form .form-submit {
	
}
#user-login-form ul {
	margin: 0px; padding: 0px;
}
#user-login-form li.openid-link {
	text-align: center;
}
#user-login-form li.user-link {
	text-align: center;
}
#user-login ul {
	margin: 0px 0px 5px;
}
#user-login ul li {
	margin: 0px;
}
#user-login-form .item-list li {
	list-style: none; margin: 0px;
}
#user-login-form li.openid-link {
	background: none;
}
#user-login li.openid-link {
	background: none;
}
.hide-label label {
	background: none; position: absolute !important; clip: rect(1px, 1px, 1px, 1px);
}
#user-admin-filter ul li {
	list-style: none;
}
#article-admin-filter ul li {
	list-style: none;
}
.description {
	color: rgb(85, 85, 85);
}
.field-type-text-long fieldset {
	padding: 10px 0px;
}
.field-type-text-long fieldset .form-item {
	margin: 0px; padding: 0px 0px 0px 15px;
}
fieldset .filter-help {
	padding: 0px 15px 5px;
}
.filter-guidelines {
	margin: 0px; padding: 5px 18px 10px; font-size: 0.92em;
}
.tips {
	margin-left: 1em;
}
#devel-switch-user-form {
	margin-bottom: 0px;
}
input.form-submit {
	background: rgb(241, 241, 241); padding: 4px; border-radius: 2px; border: 1px solid rgb(220, 220, 220); border-image: none; text-transform: uppercase; margin-right: 5px; cursor: pointer; box-shadow: 0px 1px 2px 2px #f9f9f9; text-shadow: 0px -1px 0px #fff; -moz-border-radius: 2px; -webkit-box-shadow: 0 1px 2px 2px #f9f9f9; -moz-box-shadow: 0 1px 2px 2px #f9f9f9; -web-kit-border-radius: 2px;
}
input.form-submit:hover {
	background: rgb(250, 250, 250);
}
input.form-submit:focus {
	background: rgb(250, 250, 250);
}
a.button:hover {
	background: rgb(250, 250, 250);
}
a.button:focus {
	background: rgb(250, 250, 250);
}
input.form-submit:active {
	color: rgb(102, 102, 102);
}
a.button:active {
	color: rgb(102, 102, 102);
}
table {
	margin: 10px 0px; padding: 0px; border: 0px currentColor; border-image: none; width: 100%; font-size: inherit; border-spacing: 0;
}
table {
	vertical-align: middle;
}
td {
	vertical-align: middle;
}
th {
	vertical-align: middle;
}
caption {
	text-align: left;
}
th {
	text-align: left;
}
td {
	text-align: left;
}
thead th {
	color: rgb(51, 51, 51); font-weight: 700; border-bottom-color: rgb(234, 234, 234); border-bottom-width: 1px; border-bottom-style: solid;
}
td {
	margin: 0px; padding: 8px 7px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
th {
	margin: 0px; padding: 8px 7px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
td {
	
}
tr.even {
	border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(234, 234, 234) rgb(234, 234, 234);
}
tr.odd {
	border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(234, 234, 234) rgb(234, 234, 234);
}
tr.odd {
	background-color: rgb(241, 241, 241);
}
tr.info {
	background-color: rgb(241, 241, 241);
}
tr.even {
	background-color: rgb(248, 248, 248);
}
tr.drag {
	background-color: rgb(255, 255, 240);
}
tr.drag-previous {
	background-color: rgb(255, 255, 221);
}
tr.odd td.active {
	background-color: rgb(238, 238, 238);
}
tr.even td.active {
	background-color: rgb(247, 247, 247);
}
td.region {
	color: rgb(51, 51, 51); font-weight: 700; border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(234, 234, 234); border-top-width: 20px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; background-color: rgb(248, 248, 248);
}
td.module {
	color: rgb(51, 51, 51); font-weight: 700; border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(234, 234, 234); border-top-width: 20px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; background-color: rgb(248, 248, 248);
}
td.container td.category {
	color: rgb(51, 51, 51); font-weight: 700; border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(234, 234, 234); border-top-width: 20px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; background-color: rgb(248, 248, 248);
}
tr:first-child td.region {
	border-top-width: 0px;
}
tr:first-child td.module {
	border-top-width: 0px;
}
tr:first-child td.container {
	border-top-width: 0px;
}
#forum tr td.forum .name {
	padding-left: 5px;
}
#forum div.indent {
	margin-left: 7px;
}
#forum tr td.forum {
	min-width: 160px;
}
#forum td.forum .icon {
	background-position: -1px 0px; width: 22px; height: 30px; background-image: url("/sites/all/themes/at_headliner/css/images/headliner-forum-icons.png");
}
#forum .icon > div {
	background-position: -1px 0px; width: 22px; height: 30px; background-image: url("/sites/all/themes/at_headliner/css/images/headliner-forum-icons.png");
}
#forum tr.new-topics td.forum {
	background-position: -32px 0px;
}
#forum td.forum .topic-status-new {
	background-position: -32px 0px;
}
#forum .icon .topic-status-new {
	background-position: -32px 0px;
}
#forum td.forum .topic-status-hot {
	background-position: -62px 0px; width: 26px;
}
#forum .icon .topic-status-hot {
	background-position: -62px 0px; width: 26px;
}
#forum td.forum .topic-status-hot-new {
	background-position: -94px 0px; width: 26px;
}
#forum .icon .topic-status-hot-new {
	background-position: -94px 0px; width: 26px;
}
#forum td.forum .topic-status-sticky {
	background-position: -128px 0px;
}
#forum .icon .topic-status-sticky {
	background-position: -128px 0px;
}
#forum td.forum .topic-status-closed {
	background-position: -160px 0px;
}
#forum .icon .topic-status-closed {
	background-position: -160px 0px;
}
#main-content {
	margin-right: 10px; margin-left: 10px;
}
.block-inner {
	margin-right: 10px; margin-left: 10px;
}
.pane-inner {
	margin-right: 10px; margin-left: 10px;
}
.menu-wrapper {
	margin-right: 10px; margin-left: 10px;
}
.branding-elements {
	margin-right: 10px; margin-left: 10px;
}
.breadcrumb-wrapper {
	margin-right: 10px; margin-left: 10px;
}
.attribution {
	margin-right: 10px; margin-left: 10px;
}
.at-panel .rounded-corner {
	margin-right: 10px; margin-left: 10px;
}
.block-panels-mini > .block-title {
	margin-right: 10px; margin-left: 10px;
}
div.messages {
	margin-right: 10px; margin-left: 10px;
}
#content .panel-display {
	margin-right: -10px; margin-left: -10px;
}
#content .panel-flexible {
	margin-right: -10px; margin-left: -10px;
}
#content .panel-display {
	background: none; border: 0px currentColor; border-image: none; margin-top: 0px; box-shadow: 0px 0px 0px 0px transparent; -webkit-box-shadow: 0 0 0 0 transparent; -moz-box-shadow: 0 0 0 0 transparent;
}
#content .panel-flexible {
	background: none; border: 0px currentColor; border-image: none; margin-top: 0px; box-shadow: 0px 0px 0px 0px transparent; -webkit-box-shadow: 0 0 0 0 transparent; -moz-box-shadow: 0 0 0 0 transparent;
}
.panel-display .panel-display {
	background: none; border: 0px currentColor; border-image: none; margin-top: 0px; box-shadow: 0px 0px 0px 0px transparent; -webkit-box-shadow: 0 0 0 0 transparent; -moz-box-shadow: 0 0 0 0 transparent;
}
.panel-display .panel-flexible {
	background: none; border: 0px currentColor; border-image: none; margin-top: 0px; box-shadow: 0px 0px 0px 0px transparent; -webkit-box-shadow: 0 0 0 0 transparent; -moz-box-shadow: 0 0 0 0 transparent;
}
.not-front #main-content > .inner {
	background: rgb(255, 255, 255); border-width: 1px; border-style: solid; margin: 0px; padding: 10px 0px; width: auto; min-height: 1px;
}
#content-column {
	margin-bottom: 20px;
}
#content-wrapper {
	margin-top: 20px;
}
.region-menu-bar-top {
	margin: 0px 10px;
}
.region-two-66-33-second {
	margin-bottom: 10px;
}
.two-50 {
	margin: 0px 10px 20px;
}
.four-4x25 {
	margin: 0px 10px 20px;
}
.region-secondary-content {
	margin: 0px 10px 20px;
}
.region-tertiary-content {
	margin: 0px 10px 20px;
}
.two-50 {
	border-width: 1px; border-style: solid; -webkit-box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.03); -moz-box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.03);
}
.four-4x25 {
	border-width: 1px; border-style: solid; -webkit-box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.03); -moz-box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.03);
}
.two-50 .region {
	background: url("/sites/all/themes/at_headliner/css/images/gp-border.png") repeat-y right top;
}
.four-4x25 .region {
	background: url("/sites/all/themes/at_headliner/css/images/gp-border.png") repeat-y right top;
}
.two-50 .region-two-second {
	background-image: none;
}
.four-4x25 .region-four-fourth {
	background-image: none;
}
.region-secondary-content {
	background: rgb(255, 255, 255); border-width: 1px; border-style: solid; margin: 0px 30px 20px; padding: 10px; box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.03); -webkit-box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.03); -moz-box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.03);
}
.region-tertiary-content {
	background: rgb(255, 255, 255); border-width: 1px; border-style: solid; margin: 0px 30px 20px; padding: 10px; box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.03); -webkit-box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.03); -moz-box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.03);
}
.two-50 {
	margin-top: 20px;
}
.region-secondary-content {
	margin-top: 20px;
}
.three-3x33 {
	padding: 20px 0px;
}
.region-help {
	background: rgb(255, 255, 255); border-width: 1px; border-style: solid; margin: 0px 30px 20px; padding: 10px 0px;
}
.region-highlighted {
	background: rgb(255, 255, 255); border-width: 1px; border-style: solid; margin: 0px 30px 20px; padding: 10px 0px;
}
.region-help {
	margin: 20px 10px;
}
#header-wrapper {
	padding: 20px 0px 25px;
}
#page > header {
	padding: 10px 0px 0px; clear: both;
}
#site-name {
	line-height: 1; font-size: 4em;
}
#site-name a {
	color: rgb(24, 24, 24); text-decoration: none;
}
#site-name a:visited {
	
}
#site-name a:hover {
	
}
#site-name a:focus {
	
}
#site-name a:active {
	
}
#site-slogan {
	font-size: 1.5em; font-weight: 400;
}
.region-header {
	float: right;
}
#main-content .inner > header {
	padding: 0px 15px;
}
#main-content .inner #content {
	padding: 0px 15px;
}
.not-front #block-system-main > .block-inner {
	margin: 0px 15px;
}
#page-title {
	font-size: 2em; margin-top: 0px; margin-bottom: 10px;
}
.in-maintenance h1#page-title {
	padding: 10px;
}
.feed-icon img {
	padding: 4px 10px; float: right;
}
.search-results {
	margin: 0px;
}
.search-results .search-result {
	
}
.search-results .title {
	font-size: 1.15em;
}
.search-results .search-snippet-info {
	padding: 0px;
}
.search-results p {
	margin: 0px;
}
.search-results .search-snippet {
	
}
.search-results .search-info {
	font-size: 0.92em;
}
span.button-wrapper {
	
}
span.button {
	
}
.feed-source {
	margin: 1em 0px;
}
.feed-description {
	
}
.maintenance-page #skip-link {
	top: -99em; position: absolute;
}
.maintenance-page footer {
	margin: 10px 0px 0px;
}
.maintenance-page footer a {
	color: rgb(204, 204, 204); text-decoration: none;
}
#menu-top-wrapper {
	background: rgba(0, 0, 0, 0.9);
}
#menu-top-wrapper .container {
	padding: 10px 0px;
}
.menu-top-border-bottom {
	background: url("/sites/all/themes/at_headliner/css/images/top-menu-border-bottom.png") repeat-x; width: 100%; height: 2px;
}
.content-area-gradiant-top {
	background: url("/sites/all/themes/at_headliner/css/images/content-area-gradiant-top.png") repeat-x; width: 100%; height: 19px;
}
#nav-wrapper {
	position: relative; z-index: 400;
}
#menu-bar {
	position: relative; z-index: 450;
}
.menu-bottom {
	position: relative; z-index: 400;
}
#nav-wrapper .container .menu-box {
	margin: 0px 10px; box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.03); -webkit-box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.03); -moz-box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.03);
}
#nav-wrapper .container {
	
}
#nav-wrapper .block {
	background: rgb(255, 255, 255); border-width: 1px; border-style: solid;
}
#nav-wrapper .dark-arrow {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
#nav-wrapper .menu-bottom {
	background: rgba(0, 0, 0, 0.98); margin: 0px; height: 3.5em; font-size: 1.25em; position: relative;
}
#nav-wrapper .menu-bottom .block {
	background: none; border: 0px currentColor; border-image: none;
}
#nav-wrapper .menu-bottom .block-inner {
	margin: 0px; padding: 0px;
}
#sf-navbar-background {
	
}
.sf-navbar-push {
	
}
#footer-panels-wrapper {
	color: rgb(255, 255, 255);
}
#footer-wrapper {
	color: rgb(255, 255, 255);
}
#footer-panels-wrapper a {
	color: rgb(204, 204, 204);
}
#footer-wrapper a {
	color: rgb(204, 204, 204);
}
#footer-panels-wrapper a:hover {
	text-decoration: underline;
}
#footer-panels-wrapper a:focus {
	text-decoration: underline;
}
#footer-wrapper a:hover {
	text-decoration: underline;
}
#footer-wrapper a:focus {
	text-decoration: underline;
}
#footer-panels-wrapper ul {
	list-style: none; margin: 0px; padding: 0px;
}
#footer-panels-wrapper ul li {
	list-style: none; margin: 0px; padding: 0px;
}
#footer-wrapper ul {
	list-style: none; margin: 0px; padding: 0px;
}
#footer-wrapper ul li {
	list-style: none; margin: 0px; padding: 0px;
}
.footer-panels-border-top {
	background: url("/sites/all/themes/at_headliner/css/images/footer-panels-border-top.png") repeat-x; width: 100%; height: 2px;
}
#footer-panels-wrapper {
	background: rgba(0, 0, 0, 0.86);
}
.footer-border-top {
	background: url("/sites/all/themes/at_headliner/css/images/footer-border-top.png") repeat-x; width: 100%; height: 3px;
}
#footer-wrapper {
	background: rgba(0, 0, 0, 0.9);
}
#footer-wrapper .container {
	padding: 10px 0px 15px;
}
.view-frontpage table {
	background: rgb(255, 255, 255); margin: 0px; border: 0px currentColor; border-image: none;
}
.view-frontpage table td {
	padding: 0px; width: 50%; vertical-align: top;
}
.view-frontpage table td {
	border-bottom-width: 1px; border-bottom-style: solid;
}
.view-frontpage table .row-last td {
	border-bottom-width: 0px;
}
.view-frontpage table .col-1 {
	border-right-width: 1px; border-right-style: solid;
}
.view-frontpage table article {
	padding: 19px 21px;
}
.view-frontpage table .node-title {
	margin: 0px;
}
.view-frontpage table.views-view-grid figure img {
	width: 100%; height: auto;
}
.region-two-66-33-first .article-content {
	font-size: 1.08em;
}
.views-slideshow-controls-top {
	left: -21px; top: 4px; width: 40px; position: absolute; box-shadow: 0px 2px 3px 3px rgba(0,0,0,0.03); -webkit-box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.03); -moz-box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.03);
}
.views-slideshow-controls-top span {
	border-width: 1px; border-style: solid; width: 40px; height: 40px; display: block;
}
.views-slideshow-controls-top a {
	width: 40px; height: 39px; text-indent: -9999em; overflow: hidden; border-top-color: rgb(255, 255, 255); border-top-width: 1px; border-top-style: solid; position: absolute;
}
span.views-slideshow-controls-text-previous {
	background-position: center 10px; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none; background-image: url("/sites/all/themes/at_headliner/css/images/slideshow-control-previous.png"); background-repeat: no-repeat;
}
span.views-slideshow-controls-text-pause {
	display: none;
}
span.views-slideshow-controls-text-next {
	background-position: center 13px; background-image: url("/sites/all/themes/at_headliner/css/images/slideshow-control-next.png"); background-repeat: no-repeat;
}
div.views_slideshow_cycle_main {
	margin-left: 20px;
}
.region-highlighted div.views_slideshow_cycle_main {
	margin-left: 30px;
}
.profile h3 {
	border: 0px currentColor; border-image: none;
}
.poll .title {
	font-weight: 700; margin-bottom: 10px;
}
.poll .bar {
	border: 0px currentColor; border-image: none; background-color: transparent;
}
.poll .percent {
	font-size: 0.83em;
}
.view-forum-comments h3 {
	font-size: 1em; font-style: italic; font-weight: 400;
}
.view-forum-comments div span {
	font-size: 0.83em;
}
ul.links {
	margin-left: 0px;
}
.not-logged-in .contextual-links-wrapper {
	display: none;
}
.block-views .view-social-network ul {
	margin: 0px; padding: 0px;
}
.block-views .view-social-network ul li {
	list-style: none; margin: 0px; display: inline;
}
.article {
	margin-bottom: 20px;
}
.article .article-inner > header {
	margin-bottom: 10px;
}
.article-title {
	text-transform: uppercase;
}
.article-title a:link {
	text-decoration: none;
}
.article-title a:visited {
	text-decoration: none;
}
.article-title a:active {
	text-decoration: none;
}
.article-title a:hover {
	text-decoration: underline;
}
.article-title a:focus {
	text-decoration: underline;
}
.article .user-picture {
	
}
.article .user-picture img {
	
}
.article footer {
	margin-bottom: 10px;
}
.article-content {
	
}
.article ul.links {
	margin: 0px; text-align: left; text-transform: uppercase; font-size: 0.85em; display: block;
}
.article ul.links li {
	margin: 0px; padding: 0px 0.75em 0px 0px;
}
.article ul.links li a {
	color: rgb(51, 51, 51);
}
.article ul.links li.node_read_more a {
	
}
.article ul.links li.comment_add a {
	
}
.article ul.links li.comment_comments a {
	
}
.article ul.links li.comment_new_comments a {
	
}
.article ul.links li.blog_usernames_blog a {
	
}
.article ul.links li.print_html a {
	
}
.article ul.links li.print_email a {
	
}
.article ul.links li.print_pdf a {
	
}
.article ul.links li.first {
	
}
.article ul.links li.last {
	
}
.article .service-links ul.links {
	margin: 10px 0px;
}
.article .service-links ul.links li {
	list-style: none; margin: 0px; padding: 3px 0px; width: auto;
}
.article-add {
	
}
.article-edit {
	
}
.article-delete {
	
}
.article-preview {
	
}
.article-sticky {
	
}
.article-promoted {
	
}
.article-unpublished {
	
}
.article-teaser {
	
}
#comments {
	
}
#comments > h2.title {
	margin-bottom: 0.5em;
}
.comment {
	margin-bottom: 20px;
}
#comments .indented {
	margin-left: 60px;
}
.comment span.new {
	background: rgb(241, 241, 241); padding: 0px 5px; float: right;
}
.comment div.user-picture img {
	margin: 5px 0px 0px;
}
.comment {
	margin-bottom: 20px; vertical-align: top; display: table;
}
.comment .attribution {
	padding: 0px 15px 0px 0px; overflow: hidden; vertical-align: top; display: table-cell;
}
.comment .attribution img {
	margin: 0px;
}
.comment .attribution .username {
	white-space: nowrap;
}
.comment .comment-submitted {
	font-style: italic;
}
.comment .comment-text {
	padding: 0px 10px 0px 0px; width: 100%; vertical-align: top; display: table-cell; position: relative;
}
.comment ul.links {
	padding: 0px 0px 0.25em;
}
.comment ul.links li {
	padding: 0px 0.5em 0px 0px;
}
.comment-unpublished {
	padding: 5px 2px 5px 5px; margin-right: 5px;
}
.field-label {
	line-height: inherit; font-family: inherit; font-size: 1em; font-weight: 700; margin-bottom: 0px;
}
.field-lable-inline .field-label {
	display: inline;
}
.field-type-taxonomy-term-reference .field-label {
	margin: 0px;
}
.field-type-taxonomy-term-reference ul {
	margin: 0px; padding: 0px;
}
.field-type-taxonomy-term-reference ul li {
	list-style: none; padding: 0px 0.75em 0px 0px; display: inline;
}
.field-lable-inline .field-label {
	display: inline;
}
.field-type-image figure {
	margin: 0px; padding: 0px;
}
.field-type-image figcaption {
	margin: 0px; padding: 0px;
}
.field-type-image figcaption {
	font-style: italic; margin-bottom: 10px;
}
tabel .field-type-image img {
	width: 100%; height: auto;
}
.region-two-66-33-first .field-type-image img {
	width: auto; height: auto;
}
.block {
	margin-bottom: 20px;
}
.block-title {
	margin: 0px;
}
.front #block-system-main {
	background: rgb(255, 255, 255); border-width: 1px; border-style: solid;
}
.front #block-system-main {
	padding: 15px;
}
.block .more-link {
	text-align: left; text-transform: uppercase; font-weight: bold;
}
.mini-panel-title {
	margin: 0px 10px;
}
.block-views {
	position: relative;
}
.sidebar .block-inner {
	border-width: 1px; border-style: solid; box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.03); -webkit-box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.03); -moz-box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.03);
}
.sidebar .block-title {
	padding: 10px; border-top-color: rgb(255, 255, 255); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.sidebar .block-content {
	padding: 10px; border-top-color: rgb(255, 255, 255); border-top-width: 1px; border-top-style: solid;
}
.two-50 .block-title {
	padding: 10px 0px; border-bottom-width: 1px; border-bottom-style: solid;
}
.four-4x25 .block-title {
	padding: 10px 0px; border-bottom-width: 1px; border-bottom-style: solid;
}
.two-50 .block-content {
	padding: 10px 0px; border-top-color: rgba(255, 255, 255, 0.9); border-top-width: 1px; border-top-style: solid;
}
.four-4x25 .block-content {
	padding: 10px 0px; border-top-color: rgba(255, 255, 255, 0.9); border-top-width: 1px; border-top-style: solid;
}
.two-50 .no-title.block-content {
	border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.four-4x25 .no-title.block-content {
	border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.block ul li {
	margin: 0px 0px 0px 1em;
}
.block .item-list ul {
	list-style: none; margin: 0px; padding: 0px;
}
.block .item-list li {
	list-style: none; margin: 0px; padding: 0px;
}
.block-panels_mini {
	
}
.block-panels_mini .block-inner {
	
}
.block-panels_mini .block-content {
	
}
.block-panels_mini .mini-panel-title {
	margin: 0px 10px;
}
#block-comment-recent span {
	font-size: 0.85em;
}
#menu-top-wrapper .block {
	margin: 0px; clear: none; float: left; display: inline;
}
#menu-top-wrapper .block-inner {
	margin: 0px; padding: 0px;
}
#menu-top-wrapper .block-title {
	
}
#menu-top-wrapper .block-content {
	
}
#menu-top-wrapper .block-content ul {
	margin: 0px; padding: 0px; display: inline;
}
#menu-top-wrapper .block-content ul li {
	margin: 0px; padding: 0px; display: inline;
}
#menu-top-wrapper .block-content ul li a {
	margin: 0px; padding: 0px 10px; color: rgb(255, 255, 255); line-height: 2em; text-decoration: none;
}
#menu-top-wrapper .block-search {
	margin: 3px 0px 0px; float: right;
}
#menu-top-wrapper .block-search form {
	margin: 0px;
}
#menu-top-wrapper .block-search .form-item {
	margin: 0px;
}
#menu-top-wrapper #search-block-form .form-text {
	background: rgb(57, 57, 57); padding: 3px; border: 1px solid rgb(69, 69, 69); border-image: none; width: 180px; color: rgb(255, 255, 255); box-shadow: inset 0px 1px 2px 2px #242424; -webkit-box-shadow: inset 0px 1px 2px 2px #242424; -moz-box-shadow: inset 0px 1px 2px 2px #242424;
}
#menu-top-wrapper #search-block-form input.form-submit {
	background: url("/sites/all/themes/at_headliner/css/images/search-button.png") no-repeat center; padding: 0px; border-radius: 0px; border: currentColor; border-image: none; width: 20px; height: 20px; text-indent: -9999px; overflow: hidden; margin-right: 0px; margin-left: 0px; cursor: pointer; box-shadow: 0px 0px 0px 0px transparent; text-shadow: 0px 0px 0px transparent; -moz-border-radius: 0; -webkit-box-shadow: 0 0 0 0 transparent; -moz-box-shadow: 0 0 0 0 transparent; -web-kit-border-radius: 0;
}
#menu-top-wrapper #search-form input.form-submit {
	background: url("/sites/all/themes/at_headliner/css/images/search-button.png") no-repeat center; padding: 0px; border-radius: 0px; border: currentColor; border-image: none; width: 20px; height: 20px; text-indent: -9999px; overflow: hidden; margin-right: 0px; margin-left: 0px; cursor: pointer; box-shadow: 0px 0px 0px 0px transparent; text-shadow: 0px 0px 0px transparent; -moz-border-radius: 0; -webkit-box-shadow: 0 0 0 0 transparent; -moz-box-shadow: 0 0 0 0 transparent; -web-kit-border-radius: 0;
}
#feature-wrapper {
	margin-top: 20px;
}
#feature-wrapper .gpanel {
	background: rgb(255, 255, 255); border-width: 1px; border-style: solid; margin: 0px 31px;
}
.region-two-66-33-first .block-inner {
	margin: 20px;
}
.region-two-66-33-second .block {
	margin: 20px -21px 10px 0px; border: 1px solid rgb(220, 220, 220); border-image: none; box-shadow: 0px 2px 4px 4px rgba(0,0,0,0.03); -webkit-box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.03); -moz-box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.03);
}
.region-two-66-33-second .block-inner {
	margin: 0px; padding: 10px; border-top-color: rgb(255, 255, 255); border-top-width: 1px; border-top-style: solid;
}
.quicktabs-tabpage .block-inner {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.03); -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.03); -moz-box-shadow: 0 0 0 0 4px rgba(0, 0, 0, 0.03);
}
ul.quicktabs-tabs {
	background: url("/sites/all/themes/at_headliner/css/images/quicktabs-ul-tile.png") repeat-x left bottom rgb(255, 255, 255); margin: 0px; overflow: hidden; font-size: 1.25em;
}
ul.quicktabs-tabs li {
	margin: 0px; float: left; display: block;
}
ul.quicktabs-tabs li a {
	padding: 0px 10px; height: 3em; line-height: 3em;
}
ul.quicktabs-tabs li.active {
	background: url("/sites/all/themes/at_headliner/css/images/quicktabs-active-arrow.png") no-repeat bottom; height: 3em; line-height: 3em;
}
.quicktabs-tabpage {
	
}
.block-poll ul.links {
	margin-left: 0px;
}
.block-poll ul.links li {
	list-style: none; margin: 0px; padding: 0px; display: block;
}
.region-header .block {
	clear: none; float: left;
}
.region-footer .block {
	margin: 5px 0px; float: left;
}
.region-footer .block p {
	margin: 0px;
}
#block-views-news-ticker-block {
	margin: 0px 0px 5px;
}
.liScroll-container {
	width: 100%; height: 3em; position: relative;
}
#block-views-news-ticker-block .liScroll-container .mask {
	left: 0px; width: 100%; position: absolute;
}
.chrome .liScroll-container .mask {
	top: auto;
}
ul.liScroll {
	width: 100%; font-family: inherit; font-size: 0.83em;
}
.block ul.liScroll li {
	margin: 0px 10px; display: inline-block; white-space: nowrap;
}
ul.liScroll a {
	margin: 0px; padding: 0px; display: inline-block;
}
.region-secondary-content .block {
	margin-bottom: 10px;
}
.region-tertiary-content .block {
	margin-bottom: 10px;
}
#block-system-help {
	margin: 0px; background-color: rgb(255, 255, 255);
}
#block-service-links-service-links-not-node ul li {
	
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a.active {
	text-decoration: none;
}
a:active {
	
}
a:focus {
	
}
#nav-wrapper .nav .menu-wrapper {
	margin: 0px; clear: both; font-size: 1.25em;
}
#nav-wrapper .nav .block-content {
	margin: 0px; clear: both; font-size: 1.25em;
}
#nav-wrapper ul.menu {
	margin: 0px;
}
#nav-wrapper .block-content li {
	list-style: none; float: left; display: inline;
}
#nav-wrapper .menu-wrapper li {
	list-style: none; float: left; display: inline;
}
#nav-wrapper .menu li {
	list-style: none; float: left; display: inline;
}
#nav-wrapper .block-content li a {
	padding: 0px 15px; height: 3.5em; text-transform: uppercase; line-height: 3.5em; text-decoration: none; display: block; white-space: nowrap; background-color: transparent;
}
#nav-wrapper .menu-wrapper li a {
	padding: 0px 15px; height: 3.5em; text-transform: uppercase; line-height: 3.5em; text-decoration: none; display: block; white-space: nowrap; background-color: transparent;
}
#nav-wrapper .menu li a {
	padding: 0px 15px; height: 3.5em; text-transform: uppercase; line-height: 3.5em; text-decoration: none; display: block; white-space: nowrap; background-color: transparent;
}
#nav-wrapper li {
	
}
#nav-wrapper .menu li {
	
}
.nav li.sfhover {
	background: url("/sites/all/themes/at_headliner/css/images/superfish-gray-active.png") no-repeat bottom; text-decoration: none;
}
.nav li a:hover {
	background: url("/sites/all/themes/at_headliner/css/images/superfish-gray-active.png") no-repeat bottom; text-decoration: none;
}
.nav li a:focus {
	background: url("/sites/all/themes/at_headliner/css/images/superfish-gray-active.png") no-repeat bottom; text-decoration: none;
}
.nav li a:active {
	background: url("/sites/all/themes/at_headliner/css/images/superfish-gray-active.png") no-repeat bottom; text-decoration: none;
}
.nav li a.active {
	background: url("/sites/all/themes/at_headliner/css/images/superfish-gray-active.png") no-repeat bottom; text-decoration: none;
}
.nav li a:hover:visited {
	background: url("/sites/all/themes/at_headliner/css/images/superfish-gray-active.png") no-repeat bottom; text-decoration: none;
}
.nav li.active-trail a {
	background: url("/sites/all/themes/at_headliner/css/images/superfish-gray-active.png") no-repeat bottom; text-decoration: none;
}
.nav .dark-arrow li.sfhover {
	background: url("/sites/all/themes/at_headliner/css/images/main-menu-active.png") no-repeat bottom;
}
.nav .dark-arrow li a:hover {
	background: url("/sites/all/themes/at_headliner/css/images/main-menu-active.png") no-repeat bottom;
}
.nav .dark-arrow li a:focus {
	background: url("/sites/all/themes/at_headliner/css/images/main-menu-active.png") no-repeat bottom;
}
.nav .dark-arrow li a:active {
	background: url("/sites/all/themes/at_headliner/css/images/main-menu-active.png") no-repeat bottom;
}
.nav .dark-arrow li a.active {
	background: url("/sites/all/themes/at_headliner/css/images/main-menu-active.png") no-repeat bottom;
}
.nav .dark-arrow li a:hover:visited {
	background: url("/sites/all/themes/at_headliner/css/images/main-menu-active.png") no-repeat bottom;
}
.nav .dark-arrow li.active-trail a {
	background: url("/sites/all/themes/at_headliner/css/images/main-menu-active.png") no-repeat bottom;
}
#nav-wrapper .nav .sf-depth-1 li a {
	background-image: none;
}
#nav-wrapper ul {
	margin: 0px; padding: 0px;
}
#nav-wrapper ul li {
	margin: 0px; padding: 0px;
}
#nav-wrapper ul.menu {
	margin: 0px; padding: 0px;
}
#nav-wrapper ul.menu li {
	margin: 0px; padding: 0px;
}
#nav-wrapper .block {
	margin: 0px; padding: 0px;
}
.block .menu li.content {
	padding: 0px;
}
.breadcrumb {
	padding: 0px 10px 10px 5px; font-size: 1.08em;
}
.breadcrumb ol {
	margin: 0px; padding: 0px;
}
.breadcrumb ol li {
	list-style: none; display: inline;
}
.breadcrumb a {
	
}
.breadcrumb a:link {
	
}
.breadcrumb a:visited {
	
}
.breadcrumb a:hover {
	
}
.breadcrumb a:focus {
	
}
.breadcrumb a:active {
	
}
ul.pager {
	margin: 0px; text-align: center; clear: both;
}
.item-list ul.pager li {
	margin: 5px;
}
ul.pager li {
	display: inline; list-style-type: none; background-image: none;
}
ul.pager li.pager-current {
	padding: 5px; font-weight: 700;
}
.block ul.pager li {
	margin: 0px;
}
ul.pager li a:link {
	padding: 5px;
}
#tasks {
	margin-bottom: 1em;
}
ul.primary {
	margin: 1.5em 0px 0px; padding: 0px 0px 0.2em 0.3em; border-bottom-color: rgb(220, 220, 220);
}
ul.primary li a {
	background: none; padding: 0px 1em 0px 0px; border: 0px currentColor; border-image: none; font-weight: 700; margin-right: 0.08em;
}
.local-tasks ul.primary li a:hover {
	color: rgb(0, 0, 0); background-color: transparent;
}
.local-tasks ul.primary li a:focus {
	color: rgb(0, 0, 0); background-color: transparent;
}
.local-tasks ul.primary li.active a {
	background: none; border: 0px currentColor; border-image: none;
}
ul.secondary {
	margin: 1em 0px 0px; padding: 0px 0.3em 1em; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
ul.secondary li {
	list-style: none; margin: 0px 0px 0.5em; padding: 0px 1em 0px 0px; line-height: 2em; border-right-color: currentColor; border-right-width: 0px; border-right-style: none;
}
ul.secondary li a:hover {
	text-decoration: underline; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
ul.secondary li a.active {
	text-decoration: underline; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
ul.primary li a:hover {
	background: rgb(255, 255, 255); border: 0px currentColor; border-image: none;
}
ul.primary li a.active {
	background: none; border: 0px currentColor; border-image: none; color: rgb(0, 0, 0);
}
ul.primary li.active a {
	background: none; border: 0px currentColor; border-image: none; color: rgb(0, 0, 0);
}
ul.primary li a.active:hover {
	background: none; border: 0px currentColor; border-image: none; color: rgb(0, 0, 0);
}
ul.primary li a.active:focus {
	background: none; border: 0px currentColor; border-image: none; color: rgb(0, 0, 0);
}
ul.sf-horizontal.sf-menu {
	
}
ul.sf-horizontal.sf-menu li.sf-depth-1 ul {
	background: rgb(255, 255, 255); border: 1px solid rgb(234, 234, 234); border-image: none; top: 3.5em;
}
.dark-arrow ul.sf-horizontal.sf-menu li.sf-depth-1 ul {
	border: 1px solid rgb(0, 0, 0); border-image: none;
}
#nav-wrapper ul.sf-horizontal.sf-menu li.sf-depth-1 ul li a {
	height: 2.25em; line-height: 2.25em;
}
#nav-wrapper ul.sf-horizontal.sf-menu li.sf-depth-1 ul ul {
	top: 0px;
}
ul.sf-navbar.sf-menu {
	padding: 0px; z-index: 99;
}
ul.sf-navbar.sf-menu a {
	padding: 0px 10px; height: 3.5em; line-height: 3.5em; border-top-color: currentColor; border-left-color: currentColor; border-top-width: medium; border-left-width: medium; border-top-style: none; border-left-style: none;
}
ul.sf-navbar.sf-menu a:hover {
	
}
ul.sf-navbar.sf-menu a:focus {
	
}
ul.sf-navbar.sf-menu ul ul a:hover {
	
}
ul.sf-navbar.sf-menu ul ul a:focus {
	
}
ul.sf-navbar.sf-menu ul ul ul a:hover {
	
}
ul.sf-navbar.sf-menu ul ul ul a:focus {
	
}
ul.sf-navbar.sf-menu ul ul ul ul a:hover {
	
}
ul.sf-navbar.sf-menu ul ul ul ul a:focus {
	
}
ul.sf-navbar.sf-menu ul a:hover {
	text-decoration: underline;
}
ul.sf-navbar.sf-menu ul a:focus {
	text-decoration: underline;
}
ul.sf-navbar.sf-menu li {
	margin: 0px; padding: 0px;
}
ul.sf-navbar.sf-menu li:hover ul {
	top: 3.5em;
}
ul.sf-navbar.sf-menu li.sfHover ul {
	top: 3.5em;
}
ul.sf-navbar li li:hover > ul {
	top: 3.5em;
}
ul.sf-navbar li li.sfHover > ul {
	top: 3.5em;
}
ul.sf-navbar > li.active-trail > ul {
	top: 3.5em;
}
ul.sf-vertical.sf-menu ul {
	width: 13em;
}
ul.sf-navbar.sf-menu ul ul {
	width: 13em;
}
ul.sf-navbar.sf-menu ul ul ul {
	width: 13em;
}
ul.sf-navbar.sf-menu ul ul ul ul {
	width: 13em;
}
ul.sf-navbar.sf-menu ul ul ul {
	left: 100% !important;
}
ul.sf-navbar.sf-menu ul ul ul ul {
	left: 100% !important;
}
.region-sub-menu-bar ul li a {
	color: rgb(255, 255, 255);
}
ul.sf-style-none.sf-navbar.sf-menu li.sf-depth-2 a {
	color: rgb(255, 255, 255);
}
ul.sf-style-none.sf-navbar.sf-menu li.sf-depth-2 ul {
	background: url("/sites/all/themes/at_headliner/css/images/superfish-gray-active.png") no-repeat top; border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(0, 0, 0) rgb(0, 0, 0); border-image: none; padding-top: 7px !important; margin-top: -7px !important;
}
#nav-wrapper ul.sf-style-none.sf-navbar.sf-menu li.sf-depth-3 a {
	background: rgb(255, 255, 255); height: 2.25em; color: rgb(0, 0, 0); line-height: 2.25em;
}
ul.sf-vertical.sf-menu a {
	color: rgb(255, 255, 255) !important;
}
ul.sf-vertical.sf-menu {
	margin: 0px; padding: 0px;
}
ul.sf-vertical.sf-menu ul {
	margin: 0px; padding: 0px;
}
ul.sf-vertical.sf-menu ul ul {
	margin: 0px; padding: 0px;
}
ul.sf-vertical.sf-menu ul ul ul {
	margin: 0px; padding: 0px;
}
.nav .block-content {
	margin: 0px; padding: 5px 0px 12px;
}
ul.sf-vertical.sf-menu {
	width: 100%;
}
ul.sf-vertical.sf-menu li {
	width: 100%;
}
ul.sf-vertical.sf-menu li:hover ul {
	left: 100%; top: 0px;
}
ul.sf-vertical.sf-menu li.sfHover ul {
	left: 100%; top: 0px;
}
ul.sf-vertical.sf-menu a:hover {
	text-decoration: none;
}
ul.sf-vertical.sf-menu a:focus {
	text-decoration: none;
}
#skip-link {
	padding: 0px 0.5em; left: 50%; width: 12em; margin-top: 0px; margin-left: -6.5em; position: absolute; z-index: 50;
}
#skip-link a {
	background: rgba(0, 0, 0, 0.6); padding: 0px; border-radius: 0px 0px 10px 10px; text-align: center; color: rgb(255, 255, 255); line-height: 2; text-decoration: none; display: block; -moz-border-radius: 0 0 10px 10px; -webkit-border-bottom-right-radius: 10px; -webkit-border-bottom-left-radius: 10px; -khtml-border-radius: 0 0 10px 10px; -webkit-border-top-left-radius: 0; -webkit-border-top-right-radius: 0;
}
#skip-link a:link {
	background: rgba(0, 0, 0, 0.6); padding: 0px; border-radius: 0px 0px 10px 10px; text-align: center; color: rgb(255, 255, 255); line-height: 2; text-decoration: none; display: block; -moz-border-radius: 0 0 10px 10px; -webkit-border-bottom-right-radius: 10px; -webkit-border-bottom-left-radius: 10px; -khtml-border-radius: 0 0 10px 10px; -webkit-border-top-left-radius: 0; -webkit-border-top-right-radius: 0;
}
#skip-link a:visited {
	background: rgba(0, 0, 0, 0.6); padding: 0px; border-radius: 0px 0px 10px 10px; text-align: center; color: rgb(255, 255, 255); line-height: 2; text-decoration: none; display: block; -moz-border-radius: 0 0 10px 10px; -webkit-border-bottom-right-radius: 10px; -webkit-border-bottom-left-radius: 10px; -khtml-border-radius: 0 0 10px 10px; -webkit-border-top-left-radius: 0; -webkit-border-top-right-radius: 0;
}
#skip-link a:hover {
	outline: 0px;
}
#skip-link a:active {
	outline: 0px;
}
#skip-link a:focus {
	outline: 0px;
}
.article-content footer.book-navigation ul.menu {
	padding: 20px 10px; border-top-color: rgb(234, 234, 234); border-top-width: 1px; border-top-style: solid;
}
.book-navigation .page-links {
	padding: 10px; text-align: center; border-top-color: rgb(234, 234, 234); border-bottom-color: rgb(234, 234, 234); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
div.contextual-links-wrapper ul.contextual-links li a {
	height: auto; text-transform: none; line-height: 1.5; font-size: small; background-image: none;
}
ul.action-links {
	margin: 25px 0px 0px; padding: 0px;
}
ul.action-links li {
	list-style: none; margin: 0px; padding: 0px;
}
ul.action-links li a {
	background: url("/sites/all/themes/at_headliner/css/images/add.png") no-repeat 4px rgb(248, 248, 248); padding: 4px 8px 4px 22px; border-radius: 12px; text-transform: capitalize; -moz-border-radius: 12px; -webkit-border-radius: 12px;
}
.hl-l #branding {
	margin: 0px 20px; float: left;
}
.hl-l .region-header {
	margin: 0px 10px; float: right;
}
.hl-l .region-header .block {
	clear: none; margin-bottom: 0px; display: inline;
}
.hl-l #logo {
	padding: 0px 20px 7px 3px;
}
.hl-r #branding {
	margin: 0px 20px; float: right;
}
.hl-r .region-header {
	margin: 0px 10px; float: left;
}
.hl-r .region-header .block {
	clear: none; margin-bottom: 0px; display: inline;
}
.hl-r #logo {
	padding: 0px 3px 7px 20px;
}
.hl-c #branding {
	margin: auto; text-align: center; float: none;
}
.hl-c .region-header {
	margin: 15px auto 0px; text-align: center; float: none; display: table;
}
.hl-c .region-header .block {
	margin: auto; text-align: left; clear: none; display: inline;
}
.hl-c .region-header .block-inner {
	margin: 0px 20px;
}
.hl-c #logo {
	padding: 0px 0px 10px;
}
.field-type-image {
	margin: 0px;
}
.field-type-image img {
	padding: 0px; margin-bottom: 10px; display: block;
}
.iat-n .field-type-image {
	float: none;
}
.ia-n .field-type-image {
	float: none;
}
.iat-l .field-type-image figure {
	margin: 4px 15px 0px 0px;
}
.ia-l .field-type-image figure {
	margin: 4px 15px 0px 0px;
}
.iat-r .field-type-image figure {
	margin: 4px 0px 0px 15px;
}
.ia-r .field-type-image figure {
	margin: 4px 0px 0px 15px;
}
.field-label-above.field-type-image {
	margin-top: 0px;
}
.field-type-image .field-label {
	margin-bottom: 0.5em;
}
.field-label-inline.field-type-image .field-label {
	line-height: 1; margin-bottom: 0px;
}
body .image-left {
	margin: 4px 15px 0px 0px; text-align: left; float: left;
}
body div.image-left {
	margin: 4px 15px 0px 0px; text-align: left; float: left;
}
body div.image-left .field-type-image {
	margin: 4px 15px 0px 0px; text-align: left; float: left;
}
body .image-left img {
	margin: 0px; text-align: left;
}
body div.image-left img {
	margin: 0px; text-align: left;
}
body div.image-left .field-type-image img {
	margin: 0px; text-align: left;
}
body .image-right {
	margin: 4px 0px 0px 15px; text-align: right; float: right;
}
body div.image-right {
	margin: 4px 0px 0px 15px; text-align: right; float: right;
}
body div.image-right .field-type-image {
	margin: 4px 0px 0px 15px; text-align: right; float: right;
}
body .image-right img {
	margin: 0px; text-align: right;
}
body div.image-right img {
	margin: 0px; text-align: right;
}
body div.image-right .field-type-image img {
	margin: 0px; text-align: right;
}
body .image-center {
	text-align: center;
}
body .image-center img {
	text-align: center;
}
body div.image-center {
	text-align: center;
}
body div.image-center .field-type-image {
	text-align: center;
}
body .image-center {
	text-align: center; margin-right: auto; margin-left: auto;
}
body div.image-center {
	text-align: center; margin-right: auto; margin-left: auto;
}
body div.image-center .field-type-image img {
	text-align: center; margin-right: auto; margin-left: auto;
}
form.node-form div.field-type-image {
	text-align: left !important;
}
form.node-form div.field-type-image img {
	text-align: left !important;
}
form.node-form div.field-type-image img {
	margin: 0px !important; display: inline !important;
}
.pts-l #page-title {
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.nts-l .article-title {
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.cts-l .comment-title {
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.bts-l .block-title {
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.pts-d #page-title {
	text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}
.nts-d .article-title {
	text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}
.cts-d .comment-title {
	text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}
.bts-d .block-title {
	text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}
.pts-w #page-title {
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
.nts-w .article-title {
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
.cts-w .comment-title {
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
.bts-w .block-title {
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
.bb-n {
	background-image: none;
}
.bb-h {
	background-image: url("/sites/all/themes/at_headliner/css/images/hatch.png");
}
.bb-vl {
	background-image: url("/sites/all/themes/at_headliner/css/images/line-vert.png");
}
.bb-hl {
	background-image: url("/sites/all/themes/at_headliner/css/images/line-horiz.png");
}
.bb-g {
	background-image: url("/sites/all/themes/at_headliner/css/images/grid.png");
}
.sc-n #page {
	box-shadow: 0px 0px 0px transparent; -webkit-box-shadow: 0 0 0 transparent; -moz-box-shadow: 0 0 0 transparent;
}
.bs-l #page {
	box-shadow: 0px 0px 10px rgba(76,76,76,0.7); -webkit-box-shadow: 0 0 10px rgba(76, 76, 76, 0.7); -moz-box-shadow: 0 0 10px rgba(76, 76, 76, 0.7);
}
.bs-d #page {
	box-shadow: 0px 0px 10px rgba(0,0,0,0.9); -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.9); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
.mb-n ul.menu {
	margin: 0px; padding: 0px;
}
.mb-n ul li.leaf {
	list-style: none; margin: 0px; padding: 0px;
}
.mb-n ul li.collapsed {
	list-style: none; margin: 0px; padding: 0px;
}
.mb-n ul li.expanded {
	list-style: none; margin: 0px; padding: 0px;
}
.mb-ah ul.menu {
	margin: 0px; padding: 0px 0px 0px 0.1em;
}
.mb-ah ul li.leaf {
	list-style-image: url("/sites/all/themes/at_headliner/css/images/arrow-head.png");
}
.mb-ah ul li.collapsed {
	list-style-image: url("/sites/all/themes/at_headliner/css/images/arrow-head.png");
}
.mb-ah ul li.expanded {
	list-style-image: url("/sites/all/themes/at_headliner/css/images/arrow-head.png");
}
.mb-ad ul.menu {
	margin: 0px; padding: 0px 0px 0px 0.2em;
}
.mb-ad ul li.leaf {
	list-style-image: url("/sites/all/themes/at_headliner/css/images/arrow-double.png");
}
.mb-ad ul li.collapsed {
	list-style-image: url("/sites/all/themes/at_headliner/css/images/arrow-double.png");
}
.mb-ad ul li.expanded {
	list-style-image: url("/sites/all/themes/at_headliner/css/images/arrow-double.png");
}
.mb-ca ul.menu {
	margin: 0px; padding: 0px 0px 0px 0.6em;
}
.mb-ca ul li.leaf {
	list-style-image: url("/sites/all/themes/at_headliner/css/images/arrow-circle.png");
}
.mb-ca ul li.collapsed {
	list-style-image: url("/sites/all/themes/at_headliner/css/images/arrow-circle.png");
}
.mb-ca ul li.expanded {
	list-style-image: url("/sites/all/themes/at_headliner/css/images/arrow-circle.png");
}
.mb-fa ul.menu {
	margin: 0px; padding: 0px 0px 0px 0.6em;
}
.mb-fa ul li.leaf {
	list-style-image: url("/sites/all/themes/at_headliner/css/images/arrow-fat.png");
}
.mb-fa ul li.collapsed {
	list-style-image: url("/sites/all/themes/at_headliner/css/images/arrow-fat.png");
}
.mb-fa ul li.expanded {
	list-style-image: url("/sites/all/themes/at_headliner/css/images/arrow-fat.png");
}
.mb-sa ul.menu {
	margin: 0px; padding: 0px 0px 0px 0.6em;
}
.mb-sa ul li.leaf {
	list-style-image: url("/sites/all/themes/at_headliner/css/images/arrow-skinny.png");
}
.mb-sa ul li.collapsed {
	list-style-image: url("/sites/all/themes/at_headliner/css/images/arrow-skinny.png");
}
.mb-sa ul li.expanded {
	list-style-image: url("/sites/all/themes/at_headliner/css/images/arrow-skinny.png");
}
.lb-h h2 {
	position: absolute !important; clip: rect(1px, 1px, 1px, 1px);
}
.lb-h .form-submit {
	padding: 1px 5px 0px; border: 0px currentColor; border-image: none; top: -1px; margin-left: 4px; position: relative;
}
body {
	color: rgb(85, 85, 85); background-color: rgb(158, 171, 183);
}
#header-wrapper {
	background-color: rgb(57, 57, 57);
}
span.form-required {
	color: rgb(8, 95, 169);
}
span.marker {
	color: rgb(8, 95, 169);
}
a:link {
	color: rgb(8, 95, 169);
}
a:visited {
	color: rgb(8, 95, 169);
}
a:active {
	color: rgb(8, 95, 169);
}
a.active {
	color: rgb(8, 95, 169);
}
a:hover {
	color: rgb(8, 95, 169);
}
a:focus {
	color: rgb(8, 95, 169);
}
.poll .bar .foreground {
	background-color: rgb(8, 95, 169);
}
#site-slogan {
	color: rgb(24, 24, 24);
}
#site-name a {
	color: rgb(24, 24, 24);
}
.region-header #block-user-login label {
	color: rgb(57, 57, 57);
}
#page-title {
	color: rgb(57, 57, 57);
}
ul.quicktabs-tabs li a {
	color: rgb(57, 57, 57);
}
.block-title {
	color: rgb(57, 57, 57);
}
.article-title a {
	color: rgb(57, 57, 57);
}
.comment-title a {
	color: rgb(57, 57, 57);
}
.menu-wrapper a {
	color: rgb(57, 57, 57);
}
.not-front #main-content > .inner {
	border-color: rgb(165, 170, 174);
}
.two-50 {
	border-color: rgb(165, 170, 174);
}
.four-4x25 {
	border-color: rgb(165, 170, 174);
}
.region-secondary-content {
	border-color: rgb(165, 170, 174);
}
.region-tertiary-content {
	border-color: rgb(165, 170, 174);
}
.views-slideshow-controls-top span {
	border-color: rgb(165, 170, 174);
}
.sidebar .block-inner {
	border-color: rgb(165, 170, 174);
}
.region-two-66-33-second .block {
	border-color: rgb(165, 170, 174);
}
.region-help {
	border-color: rgb(165, 170, 174);
}
.region-highlighted {
	border-color: rgb(165, 170, 174);
}
.sidebar .block-title {
	border-bottom-color: rgb(165, 170, 174); background-color: rgb(238, 240, 242);
}
.two-50 {
	background-color: rgb(243, 244, 245);
}
.four-4x25 {
	background-color: rgb(243, 244, 245);
}
.sidebar .block-inner {
	background-color: rgb(243, 244, 245);
}
.two-50 .block-title {
	border-bottom-color: rgb(165, 170, 174);
}
.four-4x25 .block-title {
	border-bottom-color: rgb(165, 170, 174);
}
.views-slideshow-controls-top span {
	background-color: rgb(238, 240, 242);
}
.region-two-66-33-second .block {
	background-color: rgb(238, 240, 242);
}
div.two-66-33 {
	border-color: rgb(165, 170, 174);
}
#nav-wrapper .block {
	border-color: rgb(165, 170, 174);
}
.view-frontpage table td {
	border-color: rgb(165, 170, 174);
}
.view-frontpage table .col-1 {
	border-color: rgb(165, 170, 174);
}
.front #block-system-main {
	border-color: rgb(165, 170, 174);
}
.not-front #main-content > .inner {
	border-color: rgb(165, 170, 174);
}
#footer-panels-wrapper h1 {
	color: rgb(255, 255, 254);
}
#footer-panels-wrapper h2 {
	color: rgb(255, 255, 254);
}
#footer-panels-wrapper h3 {
	color: rgb(255, 255, 254);
}
#footer-panels-wrapper h4 {
	color: rgb(255, 255, 254);
}
#footer-wrapper h1 {
	color: rgb(255, 255, 254);
}
#footer-wrapper h2 {
	color: rgb(255, 255, 254);
}
#footer-wrapper h3 {
	color: rgb(255, 255, 254);
}
#footer-wrapper h4 {
	color: rgb(255, 255, 254);
}
