#header .content_centered {
	
}
#header .content_centered h2#header_logo {
	background: url("/App_Themes/VOA_zh-CN/img/top_logo.gif?v=__7.7.0.0.13") no-repeat left 8px; margin-left: 12px;
}
.body_FlashAudio #popupHeader h2.popup_top_header {
	background-image: url("/App_Themes/VOA_zh-CN/img/small_header.gif?v=__7.7.0.0.13");
}
body {
	line-height: 18px;
}
* {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
body {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
p {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
div {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
ul {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
li {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
a {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
h1 {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
h2 {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
h3 {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
h4 {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
h5 {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
h6 {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
h1 a {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
h2 a {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
h3 a {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
h4 a {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
h5 a {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
h6 a {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
.f-title {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
div.w_Split_TopNewsSideHeadline-ArticleWidget_SectionA2c_Split ul.bullet_orange li a {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
.boxwidget .splitnews div.black.news_textcolumn a {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
div.box_mostpopular_cover {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
div.box_mostpopular_cover a {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
.multimedia_menu .second_column .programlist_row a {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
.ulcommon li a {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
.bullet_orange li a {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
.bullet_orange_archive li a {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
div span.firstLetter {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
.articlelist li a {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
#audio_menu .first_column h5 {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
#audio_menu .first_column h5 .programlist_row {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
#audio_menu .second_column .programlist_row a {
	font-family: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
}
#top_bar_expanded div.sites div.boxwidget ul li h5 {
	font-family: Arial,Helvetica,sans-serif;
}
#top_bar_expanded div.sites div.boxwidget ul li h5 a {
	font-family: Arial,Helvetica,sans-serif;
}
#top_bar_expanded div.sites div.boxwidget ul li h5 a span {
	font-family: Arial,Helvetica,sans-serif;
}
div.w_Split_TopNewsSideHeadline-ArticleWidget_SectionA2c_Split ul.bullet_orange li a {
	font-weight: normal;
}
.content div.contentImage div.caption p {
	font-size: 12px;
}
.content div.contentImage .imageCaption {
	font-size: 12px;
}
div.boxwidget div.content_column_feature h5 a {
	font-style: normal;
}
div.boxwidget div.content_column_feature h5 a:hover {
	font-style: normal;
}
div.boxwidget div.content_column_feature h5 a:focus {
	font-style: normal;
}
h5.orange {
	font-style: normal;
}
h5.orange a {
	font-style: normal;
}
h5.orange a:hover {
	font-style: normal;
}
h5.orange a:focus {
	font-style: normal;
}
