li#ca-0 {
	display: none;
}
li#ca-1 {
	display: none;
}
li#ca-2 {
	display: none;
}
li#ca-varlang-0 {
	display: none;
}
li#ca-varlang-1 {
	display: none;
}
li#ca-varlang-2 {
	display: none;
}
.skin-vector .mw-body-content {
	font-size: 0.93em;
}
.skin-monobook .mw-body-content {
	font-size: 110%;
}
.mw-editfont-monospace {
	font-size: 13.93px !important;
}
.mw-editfont-sans-serif {
	font-size: 13.93px !important;
}
.mw-editfont-serif {
	font-size: 13.93px !important;
}
