a {
	color: rgb(64, 115, 171); text-decoration: none;
}
a:hover {
	color: rgb(255, 0, 0); text-decoration: underline;
}
a:visited {
	color: rgb(176, 115, 171); text-decoration: none;
}
td {
	font-size: 9pt;
}
input.buttonface {
	background: rgb(255, 153, 0); border: 1px solid black; height: 18px; color: rgb(255, 255, 255); line-height: normal; font-size: 9pt; font-style: normal; font-variant: normal; font-weight: normal;
}
input.smallInput {
	border: 1px solid black; height: 18px; line-height: normal; font-size: 9pt; font-style: normal; font-variant: normal; font-weight: normal;
}
.b1 {
	font-family: "Verdana", "Arial", "??"; font-size: 12pt;
}
.b2 {
	font-family: "Verdana", "Arial", "??"; font-size: 7pt;
}
select {
	border-width: 1px; border-color: rgb(0, 0, 0); font-family: ??; font-size: 9pt; background-color: rgb(239, 239, 239);
}
.text {
	color: rgb(0, 0, 0); font-family: "??"; font-size: 12px;
}
.fmat {
	border: 1px solid rgb(122, 155, 222);
}
.bokcss {
	border-width: 0px 0px 1px; border-style: solid; border-color: rgb(122, 155, 222); width: 120px; height: 17px; color: rgb(0, 0, 0); font-family: "??"; font-size: 12px; background-color: rgb(241, 244, 252);
}
.Areckboxcss {
	font: 12px/normal "??"; border: 1px solid rgb(0, 0, 0); width: 50px; height: 16px; color: rgb(0, 0, 0); font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 224, 119);
}
body {
	font-size: 9pt;
}
