#page {
	-ms-overflow-x: hidden;
}
.no-sidebar .alignfull {
	left: 50%; width: 100vw; margin-right: 0px; margin-left: 0px; position: relative; max-width: 100vw; transform: translateX(-50%);
}
.no-sidebar .wp-block-columns.alignfull {
	padding-right: 1.6em; padding-left: 1.6em;
}
.no-sidebar .wp-block-latest-comments.alignfull {
	padding-right: 1.6em; padding-left: 1.6em;
}
.no-sidebar .wp-block-categories.alignfull {
	padding-right: 1.6em; padding-left: 1.6em;
}
.no-sidebar .wp-block-archives.alignfull {
	padding-right: 1.6em; padding-left: 1.6em;
}
.no-sidebar .wp-block-latest-posts.alignfull {
	padding-right: 1.6em; padding-left: 1.6em;
}
.no-sidebar .wp-block-file.alignfull {
	padding-right: 1.6em; padding-left: 1.6em;
}
.no-sidebar .wp-block-embed.is-type-video.alignfull iframe {
	width: 100% !important; height: 100% !important;
}
.rtl.no-sidebar .alignfull {
	left: auto; right: 50%; transform: translateX(50%);
}
@media all and (min-width:1024px)
{
.no-sidebar .alignwide {
	width: 120%; margin-right: -10%; margin-left: -10%; position: relative; max-width: 120%;
}
.no-sidebar .wp-block-embed.is-type-video.alignwide iframe {
	width: 100% !important; height: 100% !important;
}
}
[class^='wp-block-'] figcaption {
	text-align: center; font-size: inherit; font-style: italic;
}
[class^='wp-block-']:not(.wp-block-gallery) figcaption {
	color: inherit;
}
p:not(:focus).has-drop-cap::first-letter {
	font-size: 130px;
}
.wp-block-cover {
	display: flex;
}
.wp-block-cover.alignleft {
	display: flex;
}
.wp-block-cover.alignright {
	display: flex;
}
.wp-block-cover.aligncenter {
	display: flex;
}
.wp-block-gallery {
	margin-bottom: 1.6em; margin-left: auto;
}
.rtl :not(.alignfull):not(.alignwide).wp-block-gallery {
	margin-right: auto;
}
.wp-block-quote {
	margin: 0px 1.6em 1.6em; padding: 0px; font-size: 26px; font-style: normal; font-weight: bold;
}
.wp-block-quote {
	font-style: normal;
}
.wp-block-quote.is-large p {
	font-style: normal;
}
.wp-block-quote.is-style-large p {
	font-style: normal;
}
.wp-block-quote.alignleft {
	margin-right: 1.6em;
}
.wp-block-quote.alignright {
	margin-left: 1.6em;
}
.rtl :not(.is-large):not(.is-style-large).wp-block-quote.alignleft {
	
}
.rtl :not(.is-large):not(.is-style-large).wp-block-quote.alignright {
	
}
.wp-block-quote cite {
	font-style: italic;
}
.wp-block-quote.is-large cite {
	font-size: inherit; font-style: italic;
}
.wp-block-quote.is-large footer {
	font-size: inherit; font-style: italic;
}
.wp-block-quote.is-style-large cite {
	font-size: inherit; font-style: italic;
}
.wp-block-quote.is-style-large footer {
	font-size: inherit; font-style: italic;
}
.wp-block-quote.is-large {
	margin: 0px 0.8em 0.8em;
}
.wp-block-quote.is-style-large {
	margin: 0px 0.8em 0.8em;
}
.wp-block-quote.is-large {
	font-size: 32px;
}
.wp-block-quote.is-style-large {
	font-size: 32px;
}
.wp-block-quote.is-large p {
	font-size: 32px;
}
.wp-block-quote.is-style-large p {
	font-size: 32px;
}
.wp-block-quote.is-large p {
	margin-bottom: 0.8em;
}
.wp-block-quote.is-style-large p {
	margin-bottom: 0.8em;
}
.rtl .wp-block-quote {
	border: 0px currentColor; border-image: none;
}
.wp-block-audio audio {
	width: 100%; display: block;
}
.wp-block-file {
	margin: 1.6em 0px;
}
.wp-block-file a.wp-block-file__button {
	background: none; padding: 0.8em 1.6em; border-radius: 10px; border: 2px solid rgb(102, 54, 204); transition:0.3s; border-image: none; color: rgb(102, 54, 204); text-transform: uppercase; line-height: 1; letter-spacing: 1px; font-size: 1rem; font-weight: bold; text-decoration: none; box-shadow: none; text-shadow: none;
}
.wp-block-file a.wp-block-file__button:visited {
	background: none; padding: 0.8em 1.6em; border-radius: 10px; border: 2px solid rgb(102, 54, 204); transition:0.3s; border-image: none; color: rgb(102, 54, 204); text-transform: uppercase; line-height: 1; letter-spacing: 1px; font-size: 1rem; font-weight: bold; text-decoration: none; box-shadow: none; text-shadow: none;
}
.wp-block-file a.wp-block-file__button:hover {
	border-color: rgb(133, 204, 54); color: rgb(133, 204, 54); box-shadow: none;
}
.wp-block-file a.wp-block-file__button:focus {
	border-color: rgb(133, 204, 54); color: rgb(133, 204, 54); box-shadow: none;
}
.rtl .wp-block-file a.wp-block-file__button {
	margin-right: 0px; margin-left: 0.8em;
}
.wp-block-video.alignfull video {
	width: 100%;
}
.wp-block-verse {
	background: none; padding: 0px; color: inherit; line-height: inherit; overflow: auto; font-family: inherit; font-size: inherit; font-style: italic; margin-bottom: 1.6em; max-width: 100%;
}
.wp-block-code {
	background: rgba(0, 0, 0, 0.02); padding: 1.6em; line-height: 1.6; overflow: auto; font-family: "Courier 10 Pitch", Courier, monospace; font-size: 15px; margin-bottom: 1.6em; max-width: 100%;
}
.wp-block-pullquote {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
.wp-block-pullquote blockquote {
	margin: 0px 0px 1.6em; padding: 0.8em 0px; font-size: 24px; font-style: italic; border-top-color: currentColor; border-bottom-color: currentColor; border-top-width: 2px; border-bottom-width: 2px; border-top-style: solid; border-bottom-style: solid;
}
.wp-block-pullquote cite {
	font-size: 18px; font-style: normal;
}
.wp-block-pullquote.alignleft p {
	font-size: 24px;
}
.wp-block-pullquote.alignright p {
	font-size: 24px;
}
.wp-block-pullquote.alignleft {
	margin-right: 1.6em;
}
.wp-block-pullquote.alignright {
	margin-left: 1.6em;
}
.wp-block-pullquote.alignfull blockquote {
	padding-right: 1.6em; padding-left: 1.6em;
}
.wp-block-pullquote p {
	margin: 0px 0px 0.8em;
}
.no-sidebar .wp-block-table.alignfull {
	margin-right: 0.8em; margin-left: 0.8em;
}
.wp-block-button .wp-block-button__link {
	padding: 0.8em 1.6em; transition:0.3s; text-transform: uppercase; line-height: 1; letter-spacing: 1px; font-size: 1rem; font-weight: bold; text-decoration: none;
}
.wp-block-button__link {
	border-radius: 10px; color: rgb(255, 255, 255); background-color: rgb(102, 54, 204);
}
.wp-block-button__link:visited {
	color: rgb(255, 255, 255);
}
.is-style-outline :not(.has-text-color).wp-block-button__link {
	color: rgb(102, 54, 204);
}
.wp-block-button__link:active {
	opacity: 0.8;
}
.wp-block-button__link:focus {
	opacity: 0.8;
}
.wp-block-button__link:hover {
	opacity: 0.8;
}
hr.wp-block-separator {
	border: 0px currentColor; border-image: none;
}
.wp-block-separator {
	border: 0px currentColor; border-image: none; height: 1px; margin-bottom: 1.6em; background-color: rgb(221, 221, 221);
}
:not(.is-style-wide):not(.is-style-dots).wp-block-separator {
	max-width: 100px;
}
.wp-block-separator.is-style-wide {
	max-width: 100%;
}
.wp-block-media-text {
	margin-bottom: 1.6em;
}
.wp-block-media-text *:last-child {
	margin-bottom: 0px;
}
.wp-block-categories.aligncenter {
	text-align: center; list-style-position: inside;
}
.wp-block-categories.aligncenter ul {
	text-align: center; list-style-position: inside;
}
.wp-block-archives.aligncenter {
	text-align: center; list-style-position: inside;
}
.wp-block-latest-posts.aligncenter {
	text-align: center; list-style-position: inside;
}
.wp-block-latest-comments.aligncenter {
	text-align: center; list-style-position: inside;
}
.wp-block-categories.aligncenter {
	margin-right: 1.6em; margin-left: 1.6em;
}
.wp-block-categories-list.alignleft {
	margin-left: 1.6em;
}
.wp-block-latest-comments {
	margin-right: 0px; margin-left: 0px;
}
.wp-block-latest-comments__comment-meta {
	font-size: 16px;
}
.wp-block-latest-comments__comment-excerpt p {
	font-size: 16px;
}
.wp-block-latest-comments__comment-date {
	font-size: 14px;
}
@media screen and (min-width:768px)
{
.wp-block-latest-comments__comment-meta {
	font-size: 18px;
}
.wp-block-latest-comments__comment-excerpt p {
	font-size: 18px;
}
}
.editor-block-list__block .wp-block-latest-comments__comment-meta a {
	font-weight: 700; text-decoration: none; box-shadow: none;
}
.wp-block-latest-comments .wp-block-latest-comments__comment {
	padding: 0.8em 0px; margin-bottom: 0px; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid;
}
.wp-block-latest-comments__comment-excerpt p:last-child {
	margin-bottom: 0px;
}
.rtl .wp-block-latest-posts {
	margin-right: 0px; margin-left: 0px;
}
.has-medium-gray-color {
	color: rgb(153, 153, 153);
}
.has-medium-gray-color:hover {
	color: rgb(153, 153, 153);
}
.has-medium-gray-color:focus {
	color: rgb(153, 153, 153);
}
.has-medium-gray-color:active {
	color: rgb(153, 153, 153);
}
.has-medium-gray-color:visited {
	color: rgb(153, 153, 153);
}
.has-medium-gray-background-color {
	background-color: rgb(153, 153, 153);
}
.has-medium-gray-background-color:hover {
	background-color: rgb(153, 153, 153);
}
.has-medium-gray-background-color:focus {
	background-color: rgb(153, 153, 153);
}
.has-medium-gray-background-color:active {
	background-color: rgb(153, 153, 153);
}
.has-medium-gray-background-color:visited {
	background-color: rgb(153, 153, 153);
}
.has-light-gray-color {
	color: rgb(221, 221, 221);
}
.has-light-gray-color:hover {
	color: rgb(221, 221, 221);
}
.has-light-gray-color:focus {
	color: rgb(221, 221, 221);
}
.has-light-gray-color:active {
	color: rgb(221, 221, 221);
}
.has-light-gray-color:visited {
	color: rgb(221, 221, 221);
}
.has-light-gray-background-color {
	background-color: rgb(221, 221, 221);
}
.has-light-gray-background-color:hover {
	background-color: rgb(221, 221, 221);
}
.has-light-gray-background-color:focus {
	background-color: rgb(221, 221, 221);
}
.has-light-gray-background-color:active {
	background-color: rgb(221, 221, 221);
}
.has-light-gray-background-color:visited {
	background-color: rgb(221, 221, 221);
}
.has-white-color {
	color: rgb(255, 255, 255);
}
.has-white-color:hover {
	color: rgb(255, 255, 255);
}
.has-white-color:focus {
	color: rgb(255, 255, 255);
}
.has-white-color:active {
	color: rgb(255, 255, 255);
}
.has-white-color:visited {
	color: rgb(255, 255, 255);
}
.has-white-background-color {
	background-color: rgb(255, 255, 255);
}
.has-white-background-color:hover {
	background-color: rgb(255, 255, 255);
}
.has-white-background-color:focus {
	background-color: rgb(255, 255, 255);
}
.has-white-background-color:active {
	background-color: rgb(255, 255, 255);
}
.has-white-background-color:visited {
	background-color: rgb(255, 255, 255);
}
.has-purple-color {
	color: rgb(102, 54, 204);
}
.has-purple-color:hover {
	color: rgb(102, 54, 204);
}
.has-purple-color:focus {
	color: rgb(102, 54, 204);
}
.has-purple-color:active {
	color: rgb(102, 54, 204);
}
.has-purple-color:visited {
	color: rgb(102, 54, 204);
}
.has-purple-background-color {
	background-color: rgb(102, 54, 204);
}
.has-purple-background-color:hover {
	background-color: rgb(102, 54, 204);
}
.has-purple-background-color:focus {
	background-color: rgb(102, 54, 204);
}
.has-purple-background-color:active {
	background-color: rgb(102, 54, 204);
}
.has-purple-background-color:visited {
	background-color: rgb(102, 54, 204);
}
.has-dark-purple-color {
	color: rgb(71, 30, 158);
}
.has-dark-purple-color:hover {
	color: rgb(71, 30, 158);
}
.has-dark-purple-color:focus {
	color: rgb(71, 30, 158);
}
.has-dark-purple-color:active {
	color: rgb(71, 30, 158);
}
.has-dark-purple-color:visited {
	color: rgb(71, 30, 158);
}
.has-dark-purple-background-color {
	background-color: rgb(71, 30, 158);
}
.has-dark-purple-background-color:hover {
	background-color: rgb(71, 30, 158);
}
.has-dark-purple-background-color:focus {
	background-color: rgb(71, 30, 158);
}
.has-dark-purple-background-color:active {
	background-color: rgb(71, 30, 158);
}
.has-dark-purple-background-color:visited {
	background-color: rgb(71, 30, 158);
}
.has-green-color {
	color: rgb(133, 204, 54);
}
.has-green-color:hover {
	color: rgb(133, 204, 54);
}
.has-green-color:focus {
	color: rgb(133, 204, 54);
}
.has-green-color:active {
	color: rgb(133, 204, 54);
}
.has-green-color:visited {
	color: rgb(133, 204, 54);
}
.has-green-background-color {
	background-color: rgb(133, 204, 54);
}
.has-green-background-color:hover {
	background-color: rgb(133, 204, 54);
}
.has-green-background-color:focus {
	background-color: rgb(133, 204, 54);
}
.has-green-background-color:active {
	background-color: rgb(133, 204, 54);
}
.has-green-background-color:visited {
	background-color: rgb(133, 204, 54);
}
.has-dark-green-color {
	color: rgb(96, 157, 27);
}
.has-dark-green-color:hover {
	color: rgb(96, 157, 27);
}
.has-dark-green-color:focus {
	color: rgb(96, 157, 27);
}
.has-dark-green-color:active {
	color: rgb(96, 157, 27);
}
.has-dark-green-color:visited {
	color: rgb(96, 157, 27);
}
.has-dark-green-background-color {
	background-color: rgb(96, 157, 27);
}
.has-dark-green-background-color:hover {
	background-color: rgb(96, 157, 27);
}
.has-dark-green-background-color:focus {
	background-color: rgb(96, 157, 27);
}
.has-dark-green-background-color:active {
	background-color: rgb(96, 157, 27);
}
.has-dark-green-background-color:visited {
	background-color: rgb(96, 157, 27);
}
.has-black-color {
	color: rgb(51, 51, 51);
}
.has-black-color:hover {
	color: rgb(51, 51, 51);
}
.has-black-color:focus {
	color: rgb(51, 51, 51);
}
.has-black-color:active {
	color: rgb(51, 51, 51);
}
.has-black-color:visited {
	color: rgb(51, 51, 51);
}
.has-black-background-color {
	background-color: rgb(51, 51, 51);
}
.has-black-background-color:hover {
	background-color: rgb(51, 51, 51);
}
.has-black-background-color:focus {
	background-color: rgb(51, 51, 51);
}
.has-black-background-color:active {
	background-color: rgb(51, 51, 51);
}
.has-black-background-color:visited {
	background-color: rgb(51, 51, 51);
}
