@font-face {
	font-family: Karla;
	src: local("Karla Italic"), local("Karla-Italic"), url(https://fonts.gstatic.com/s/karla/v7/qkBVXvYC6trAT7RQHtCe5w.woff) format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: Karla;
	src: local("Karla Bold Italic"), local("Karla-BoldItalic"), url(https://fonts.gstatic.com/s/karla/v7/qkBQXvYC6trAT7RQFmW79Ldvmw.woff) format("woff");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: Karla;
	src: local("Karla"), local("Karla-Regular"), url(https://fonts.gstatic.com/s/karla/v7/qkBbXvYC6trAT7RbLto.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Karla;
	src: local("Karla Bold"), local("Karla-Bold"), url(https://fonts.gstatic.com/s/karla/v7/qkBWXvYC6trAT7zuC8m3xL0.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
