.widget.widget_text {
	-ms-word-wrap: break-word;
}
.widget.widget_text ul {
	padding-left: 0.87em; margin-bottom: 1em; margin-left: 0.87em;
}
.widget.widget_text ol {
	padding-left: 0.87em; margin-bottom: 1em; margin-left: 0.87em;
}
.widget.widget_text li ul {
	padding-top: 0px; padding-bottom: 0px; margin-top: 0px; margin-bottom: 0px;
}
.widget.widget_text li ol {
	padding-top: 0px; padding-bottom: 0px; margin-top: 0px; margin-bottom: 0px;
}
.widget.widget_text ul {
	
}
.widget.widget_text ol {
	list-style: decimal;
}
.widget.widget_text ul li {
	list-style: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; text-align: left;
}
.widget.widget_text ol li {
	list-style: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; text-align: left;
}
.widget.widget_text ul li::before {
	content: "";
}
.widget.widget_text p {
	margin-bottom: 1em;
}
